<div class="alert alert-warning alert-dismissible fade show" role="status">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    <div class="row">
        <div class="col-auto pe-0">
            <i class="ri-alarm-warning-line ri-xl text-warning"></i>
        </div>
        <div class="col">
            <p class="mb-2">
                Pour que vos questions et réponses apparaissent plus rapidement dans l'espace d'échanges, nous vous recommandons de vous connecter avec votre compte Inclusion Connect.
                <strong><a href="{% url 'inclusion_connect:authorize' %}" rel="nofollow">Je me connecte !</a></strong>
            </p>
        </div>
    </div>
</div>
