<div class="alert alert-important m-0">
    <p class="mb-0">
        Une difficulté avec le site des emplois ? Une question à propos d'un Pass IAE ? Posez votre question sur la page du
        <a href="https://aide.emplois.inclusion.beta.gouv.fr/hc/fr"
           class="font-weight-bold matomo-event"
           data-matomo-category="support"
           data-matomo-action="site_emplois"
           data-matomo-option="banner"
           aria-label="Posez votre question sur la page du support des emplois de l'inclusion (lien externe)">
            support des emplois de l'inclusion
        </a>
        <i class="ri-external-link-line ml-2 font-weight-bold" aria-hidden="true"></i> !
    </p>
</div>
