{% load i18n %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">{% trans "Forum index" %}</a></li>
                        {% if forum %}
                            {% for ancestor in forum.get_ancestors %}
                                <li class="breadcrumb-item"><a href="{% url 'forum:forum' ancestor.slug ancestor.id %}">{{ ancestor.name }}</a></li>
                            {% endfor %}
                            <li class="breadcrumb-item"><a href="{% url 'forum:forum' forum.slug forum.id %}">{{ forum.name }}</a></li>
                        {% endif %}
                        {% if topic %}
                            <li class="breadcrumb-item"><a href="{% url 'forum_conversation:topic' forum.slug forum.id topic.slug topic.id %}">{{ topic.subject }}</a></li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
