{% load i18n %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'forum_extension:index' %}">{% trans "Forum" %}</a></li>
                        {% if forum %}
                            {% for ancestor in forum.get_ancestors %}
                                <li class="breadcrumb-item">
                                    <a href="{% url 'forum_extension:forum' ancestor.slug ancestor.id %}"
                                        class="matomo-event"
                                        data-matomo-category="engagement"
                                        data-matomo-action="view"
                                        data-matomo-option="forum">
                                        {{ ancestor.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="breadcrumb-item">
                                <a href="{% url 'forum_extension:forum' forum.slug forum.id %}"
                                    class="matomo-event"
                                    data-matomo-category="engagement"
                                    data-matomo-action="view"
                                    data-matomo-option="forum">
                                    {{ forum.name }}
                                </a>
                            </li>
                        {% endif %}
                        {% if topic %}
                            <li class="breadcrumb-item active">{{ topic.subject }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
