{% load i18n %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'event:calendar' %}">{% trans "Calendar" %}</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
