{% load i18n %}
<div class="container">
    <nav class="c-breadcrumb" aria-label="Fil d'ariane">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">{% trans "Back to" %}</li>
            <li class="breadcrumb-item">
                {% if forum.is_in_documentation_area %}
                    <a href="{% url 'documentation:category_list' %}" class="matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="documentation_breadcrumb">{% trans "Documents" %}</a>
                {% else %}
                    <a href="{% url 'forum_conversation_extension:topics' %}" class="matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="topics_breadcrumb">{% trans "Discussion area" %}</a>
                {% endif %}
            </li>
            {% for ancestor in forum.get_ancestors %}
                {% if not ancestor.is_toplevel_discussion_area %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'forum_extension:forum' ancestor.slug ancestor.id %}" class="matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forum">{{ ancestor.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if topic and not forum.is_toplevel_discussion_area %}
                <li class="breadcrumb-item">
                    <a href="{% url 'forum_extension:forum' forum.slug forum.id %}" class="matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forum">{{ forum.name }}</a>
                </li>
            {% endif %}
        </ol>
    </nav>
</div>
