{% load i18n %}
{% load widget_tweaks %}
<div id="div_id_{{ field.html_name }}" class="form-group{% if field.errors %} has-error{% endif %}">
    {% if field|widget_type == "checkboxinput" %}
        <div class="checkbox">{{ field }} {{ field.label }}</div>
    {% else %}
        {% if field.label %}
            <label class="control-label" for="{{ field.auto_id }}">
                {{ field.label }}
                {% if not field.field.required %}
                    <span class="text-muted">{% trans "(optional)" %}</span>
                {% endif %}
            </label>
        {% endif %}
        {% if field|widget_type == "checkboxselectmultiple" %}
            {% for checkbox in field %}
                <div class="form-check form-check-inline">
                    <input id="{{ checkbox.id_for_label }}" class="form-check-input" type="checkbox" name="{{ checkbox.data.name }}" value="{{ checkbox.data.value }}" {% if checkbox.data.selected %}checked=""{% endif %}>
                    <label class="form-check-label badge badge-sm rounded-pill bg-info-lighter text-info" for="{{ checkbox.id_for_label }}">
                        {{ checkbox.choice_label }}
                    </label>
                </div>
            {% endfor %}
        {% else %}
            {{ field|add_class:'form-control' }}
        {% endif %}
    {% endif %}
    {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
    {% for error in field.errors %}<span class="text-danger error">{{ error }}</span>{% endfor %}
    {% if field.auto_id == 'id_content' %}
        {% if id %}
            {% include "partials/form_field_mentions.html" with id=id %}
        {% else %}
            {% include "partials/form_field_mentions.html" %}
        {% endif %}
    {% endif %}
</div>
