<small class="form-text text-muted">
    <a data-bs-toggle="collapse"
       href="#collapseMentionsHelp{{ id }}"
       role="button"
       aria-expanded="false"
       aria-controls="collapseMentionsHelp{{ id }}">
        mention d'informations
    </a>
    sur les champs libres
</small>

<div class="collapse" id="collapseMentionsHelp{{ id }}">
    <div class="mb-3">
        <p>
            Nous vous demandons de ne pas nous transmettre d’informations sensibles. Notamment, ne communiquez pas vos opinions philosophiques, syndicales, politiques ou sur votre vie sexuelle. Ces données sont trop personnelles !
        </p>
    </div>
</div>
