<small class="form-text text-muted">Pour formater votre texte vous avez la possibilité d'utiliser la barre d'outils située au-dessus de la zone de texte, ou <a data-toggle="collapse" href="#collapseMdHelp" role="button" aria-expanded="false" aria-controls="collapseMdHelp">vous pouvez utiliser la syntaxe markdown</a>.</small>
<div class="collapse" id="collapseMdHelp">
		<div class="mb-3">
				<p class="font-weight-bold mb-0 mt-3">Styles de texte</p>
				<p class="mb-1">Vous pouvez utiliser <code>*</code> autour d'un mot pour le mettre en italique. Mettez-en deux pour le mettre en gras.</p>
				<ul>
						<li><code>*italique*</code> s'affiche ainsi : <em>italique</em></li>
						<li><code>**gras**</code> s'affiche ainsi : <strong>gras</strong></li>
						<li><code>***gras-italique***</code> s'affiche ainsi : <strong><em>gras-italique</em></strong></li>
						<li><code>~~barré~~</code> s'affiche ainsi : <del>barré</del></li>
				</ul>
		</div>
		<div class="mb-3">
				<p class="font-weight-bold mb-0 mt-3">Titres</p>
				<p class="mb-1">Pour faire un titre, vous devez mettre un <code>#</code> devant la ligne. Pour faire un titre plus petit, ajoutez un <code>#</code> (jusque 6) :</p>
				<pre><code>
						# Un grand titre
						## Un titre un peu moins grand
						### Un titre encore moins grand
				</code></pre>
				<p class="mb-1">Vous pouvez également souligner le texte en utilisant <code>===</code> ou <code>---</code> pour créer des titres.</p>
				<pre><code>
						Un grand titre
						=============
				</code></pre>
		</div>
		<div class="mb-3">
				<p class="font-weight-bold mb-0 mt-3">Citation</p>
				<p class="mb-1">Les citations se font avec le signe <code>&gt;</code> :</p>
				<pre><code>
					&gt; Oh la belle prise !
				</code></pre>
		</div>
		<div class="mb-3">
				<p class="font-weight-bold mb-0 mt-3">Liste</p>
				<p class="mb-0">Vous pouvez créer des listes avec les caractères <code>*</code> et <code>-</code> pour des listes non ordonnées ou avec des nombres pour des listes ordonnées.</p>
				<p class="mb-1">Une liste non ordonnée :</p>
				<pre class="mb-0"><code>
						* une élément
						* un autre
						 * un sous élément
						 * un autre sous élément
						* un dernier élément
				</code></pre>
				<ul>
						<li>une élément</li>
						<li>
								un autre
								<ul>
										<li>un sous élément</li>
										<li>un autre sous élément</li>
								</ul>
						</li>
						<li>un dernier élément</li>
				</ul>
				<p class="mb-1">Une liste ordonnée :</p>
				<pre class="mb-0"><code>
						1. élément un
						2. élément deux
				</code></pre>
    <hr>
</div>
