{% load forum_member_tags %}
{% load i18n %}
{% load theme_inclusion %}
<ul>
    {% comment %} TODO : Ajouter la class .is-active sur l'item de menu actif {% endcomment %}

    {% if user.is_authenticated %}
        <li class="dropdown">
            <button type="button" class="btn {{ button_size }} btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-controls="dashboardUserDropdown" aria-expanded="false">
                Mon espace
            </button>
            <div class="dropdown-menu" id="dashboardUserDropdown">
                <ul class="list-unstyled">
                    <li>
                        <div class="dropdown-item">
                            <div class="media align-items-center">
                                <span class="mr-2"><i class="ri-user-line ri-2x"></i></span>
                                <div class="media-body">
                                    {% if user.get_username %}
                                        <span>{{ user|forum_member_display_name }}</span>
                                        <br>
                                    {% endif %}
                                    <span class="fs-sm lh-sm text-secondary">{{ user.email }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a href="{% url 'members:profile' user.id %}"
                            class="dropdown-item matomo-event"
                            data-matomo-category="engagement"
                            data-matomo-action="view"
                            data-matomo-option="member">
                            Accéder à mon profil
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'members:user_subscriptions' %}"
                            class="dropdown-item matomo-event"
                            data-matomo-category="engagement"
                            data-matomo-action="view"
                            data-matomo-option="subscriptions">
                            Accéder à mes abonnements
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'event:myevents' %}"
                            class="dropdown-item matomo-event"
                            data-matomo-category="engagement"
                            data-matomo-action="view"
                            data-matomo-option="events">
                            Accéder à mes évènements
                        </a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'forum_extension:create' %}">Nouvelle communauté publique</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'admin:auth_group_changelist' %}">Gérer les groupes</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Accéder à l'admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" id="js-logout" href="{% url 'inclusion_connect:logout' %}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </li>
    {% else %}
        <li>
            <a href="{% url 'inclusion_connect:authorize' %}" class="btn btn-inclusion-connect">
                <img src="{% static_theme_images 'logo-inclusion-connect-two-lines.svg' %}" alt="Se connecter | S'inscrire" height="37">
            </a>
        </li>
    {% endif %}
</ul>
