{% load forum_member_tags %}
{% load i18n %}
{% load theme_inclusion %}
<ul>
    <li class="col-12 col-lg-auto">
        <a href="{% url 'pages:home' %}">
            Accueil
        </a>
    </li>
    <li class="col-12 col-lg-auto">
        <a href="{% url 'forum_conversation_extension:publicforum' %}">
            Espace d'échanges
        </a>
    </li>
    <li>
        <a href="{% url 'forum_conversation_extension:newsfeed' %}">
            Actualités
        </a>
    </li>
    <li>
        <a href="{% url 'forum_extension:documentation' %}">
            Documentations
        </a>
    </li>
    <li>
        <a href="{% url 'event:calendar' %}">
            Évènements publics
        </a>
    </li>
    <li>
        <a href="{% url 'forum_search_extension:search' %}">
            {% trans "Search forums" %}
        </a>
    </li>
</ul>

