{% load forum_member_tags %}
{% load i18n %}
<ul>
    {% comment %} TODO : Ajouter la class .is-active sur l'item de menu actif {% endcomment %}
    <li>
        <a href="{% url 'forum:index' %}">
            <span>{% trans "Forum" %}</span>
        </a>
    </li>
    {% if user.is_authenticated %}
        <li class="dropdown">
            <button type="button" class="btn {{ button_size }} btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-controls="dashboardUserDropdown" aria-expanded="false">
                Mon espace
            </button>
            <div class="dropdown-menu" id="dashboardUserDropdown">
                <ul class="list-unstyled">
                    <li>
                        <div class="dropdown-item">
                            <div class="media align-items-center">
                                <span class="mr-2"><i class="ri-user-line ri-2x"></i></span>
                                <div class="media-body">
                                    {% if user.get_username %}
                                        <span>{{ user|forum_member_display_name }}</span>
                                        <br>
                                    {% endif %}
                                    <span class="fs-sm lh-sm text-secondary">{{ user.email }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item text-primary" href="{% url 'forum_member:profile_update' %}">Modifier mon profil</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item text-primary" href="{% url 'admin:index' %}">Accéder à l'admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" id="js-logout" href="{% url 'inclusion_connect:logout' %}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </li>
    {% else %}
        <li>
            <a href="{% url 'inclusion_connect:authorize' %}" class="btn {{ button_size }} btn-ico btn-primary">
                <i class="ri-login-box-line ri-lg"></i>
                <span>
                    Se connecter | S'inscrire
                </span>
            </a>
        </li>
    {% endif %}
</ul>
