{% load forum_member_tags %}
{% load i18n %}
{% load theme_inclusion %}
<ul>
    <li>
        <form class="mb-3 mb-xl-0 me-xl-2" action="{% url 'forum_search_extension:search' %}" name="header_search_form">
            <div class="input-group input-group-rounded-pill">
                <input class="form-control" type="search" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}" name="q">
                <div class="input-group-text p-0">
                    <button type="submit" class="btn btn-link btn-ico matomo-event" data-matomo-category="engagement" data-matomo-action="search" data-matomo-option="submit_query_header">
                        <i class="ri-search-line font-weight-bold" aria-label="{% trans "Search" %}"></i>
                    </button>
                </div>
            </div>
        </form>
    </li>
    {% if user.is_authenticated %}
        <li class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-controls="dashboardUserDropdown" aria-expanded="false">
                Mon espace
            </button>
            <div class="dropdown-menu" id="dashboardUserDropdown">
                <ul class="list-unstyled">
                    <li>
                        <div class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <span class="flex-shrink-0"><i class="ri-user-line ri-2x"></i></span>
                                <div class="flex-grow-1 ms-2 lh-sm">
                                    {% if user.get_username %}
                                        <span>{{ user|forum_member_display_name }}</span>
                                        <br>
                                    {% endif %}
                                    <span class="fs-sm lh-sm text-secondary">{{ user.email }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a href="{% url 'members:profile' user.username %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="member">Accéder à mon profil</a>
                    </li>
                    <li>
                        <a href="{% url 'forum_upvote:mine' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="upvotes">Accéder à mes sauvegardes</a>
                    </li>
                    <li>
                        <a href="{% url 'event:myevents' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="event">Accéder à mes évènements</a>
                    </li>
                    <li>
                        <a href="{% url 'forum_extension:index' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forums">Accéder à mes thématiques</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item text-primary" href="{% url 'admin:forum_forum_add' %}">Nouvelle thématique</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-primary" href="{% url 'admin:forum_file_publicfile_add' %}">Nouvelle image publique</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-primary" href="{% url 'admin:auth_group_changelist' %}">Gérer les groupes</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-primary" href="{% url 'pages:landing_pages' %}">Liste des landing pages</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-primary" href="{% url 'admin:index' %}">Accéder à l'admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" id="js-logout" href="{% url 'inclusion_connect:logout' %}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </li>
    {% else %}
        <li>
            <a href="{% url 'inclusion_connect:authorize' %}" rel="nofollow" class="btn btn-inclusion-connect">
                <img src="{% static_theme_images 'logo-inclusion-connect-two-lines.svg' %}" alt="Se connecter | S'inscrire" height="37">
            </a>
        </li>
    {% endif %}
</ul>
