{% load forum_member_tags %}
{% load i18n %}
{% load theme_inclusion %}


{% url 'pages:home' as home_url %}
{% url 'forum_conversation_extension:topics' as publicforum_url %}
{% url 'forum_conversation_extension:newsfeed' as newsfeed_url %}
{% url 'forum_extension:documentation' as documentation_url %}
{% url 'event:current' as calendar_url %}
{% url 'forum_search_extension:search' as search_url %}

<ul>
    <li class="col-12 col-lg-auto">
        <a href="{{ home_url }}" class="{% if request.path == home_url %}is-active {% endif %}">
            Accueil
        </a>
    </li>
    <li class="col-12 col-lg-auto">
        <a href="{{ publicforum_url }}" class="{% if request.path == publicforum_url %}is-active {% endif %}matomo-event"
           data-matomo-category="engagement"
           data-matomo-action="view"
           data-matomo-option="topics">
            {% trans "Discussion area" %}
        </a>
    </li>
    <li>
        <a href="{{ newsfeed_url }}" class="{% if request.path == newsfeed_url %}is-active {% endif %}matomo-event"
           data-matomo-category="engagement"
           data-matomo-action="view"
           data-matomo-option="news_header">
            Actualités
        </a>
    </li>
    <li>
        <a href="{{ documentation_url }}" class="{% if request.path == documentation_url %}is-active{% endif %}matomo-event"
           data-matomo-category="engagement"
           data-matomo-action="view"
           data-matomo-option="documentation_header">
            {% trans "Documents" %}
        </a>
    </li>
    <li>
        <a href="{{ calendar_url }}" class="{% if request.path == calendar_url %}is-active{% endif %}">
            {% trans "Events" %}
        </a>
    </li>
</ul>
