{% load static %}
{% load i18n %}
{% load theme_inclusion %}
{% load forum_member_tags %}
{% url 'pages:home' as home_url %}
{% url 'forum_conversation_extension:topics' as publicforum_url %}
{% url 'forum_extension:documentation' as documentation_url %}
{% url 'members:seekers' as seeker_url %}
{% url 'search:index' as search_url %}
{% url 'surveys:dsp_create' as dsp_url %}
{% url 'event:current' as event_url %}

<header role="banner" id="header">
    <section class="s-header">
        <div class="s-header__container container">
            <div class="s-header__row row">
                <div class="s-header__col s-header__col--logo-ministere col col-md-auto d-flex align-items-center pe-0">
                    <a href="{% url 'pages:home' %}" class="s-header__logo-ministere">
                        <img src="{% static_theme_images 'logo-republique-francaise.svg' %}" alt="Rébublique Française">
                    </a>
                </div>
                <div class="s-header__col s-header__col--logo-service col-auto d-flex align-items-center px-0">
                    <a href="{% url 'pages:home' %}">
                        <img src="{% static_theme_images 'logo-communaute-inclusion.svg' %}" height="90" alt="La communauté de l'inclusion">
                    </a>
                </div>
                <div class="s-header__col s-header__col--nav col d-none d-lg-inline-flex d-lg-flex align-items-center justify-content-end pe-0 pe-xl-3">
                    <nav role="navigation" id="nav-primary" aria-label="Navigation principale">
                        <ul>
                            <li>
                                <form action="{% url 'search:index' %}" name="header_search_form">
                                    <div class="input-group input-group-rounded-pill">
                                        <input class="form-control w-300px" type="search" placeholder="{% trans "Search forums" %}" aria-label="{% trans "Search forums" %}" name="q">
                                        <div class="input-group-text p-0">
                                            <button type="submit" class="btn btn-link btn-ico matomo-event" data-matomo-category="engagement" data-matomo-action="search" data-matomo-option="submit_query_header">
                                                <i class="ri-search-line font-weight-bold" aria-label="{% trans "Search forums" %}"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <button type="button" class="btn btn-outline-primary btn-ico btn-block bg-white dropdown-toggle my-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-controls="dashboardUserDropdown" aria-expanded="false">
                                        <i class="ri-account-circle-line" aria-hidden="true"></i>
                                         <span class="d-none d-sm-inline-block ms-0 ms-sm-2">Mon espace</span>
                                    </button>
                                    <div class="dropdown-menu" id="dashboardUserDropdown">
                                        <ul class="list-unstyled">
                                            <li>
                                                <div class="dropdown-item">
                                                    <div class="d-flex align-items-center">
                                                        <span class="flex-shrink-0"><i class="ri-user-line ri-2x"></i></span>
                                                        <div class="flex-grow-1 ms-2 lh-sm">
                                                            {% if user.get_username %}
                                                                <span>{{ user|forum_member_display_name }}</span>
                                                                <br>
                                                            {% endif %}
                                                            <span class="fs-sm lh-sm text-muted">{{ user.email }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a href="{% url 'members:profile' user.username %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="member">Accéder à mon profil</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'forum_upvote:mine' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="upvotes">Accéder à mes sauvegardes</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'event:myevents' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="event">Accéder à mes évènements</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'forum_extension:index' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forums">Accéder à mes thématiques</a>
                                            </li>
                                            {% if user.is_superuser %}
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item text-primary" href="{% url 'forum_moderation:queue' %}"><i class="ri-alarm-warning-line ri-xl text-warning"></i> Moderation Queue</a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item text-primary" href="{% url 'admin:forum_file_publicfile_add' %}">Nouvelle image publique</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item text-primary" href="{% url 'pages:landing_pages' %}">Liste des landing pages</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item text-primary" href="{% url 'admin:index' %}">Accéder à l'admin</a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-danger" id="js-logout" href="{% url 'inclusion_connect:logout' %}">Déconnexion</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'inclusion_connect:authorize' %}" rel="nofollow" class="btn btn-inclusion-connect">
                                        <img src="{% static_theme_images 'logo-inclusion-connect-two-lines.svg' %}" alt="Se connecter | S'inscrire" height="37">
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="s-header__col s-header__col--burger col col-lg-auto d-flex align-items-center justify-content-end d-xl-none ps-0">
                    <button type="button" class="btn btn-link btn-ico pe-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" aria-label="Ouvrir le menu de navigation principale pour mobile">
                      <i class="ri-menu-line" id="open" aria-hidden="true"></i>
                      <span>Menu</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="s-postheader d-none d-xl-block">
        <div class="s-postheader__container container">
            <div class="s-postheader__row row">
                <div class="s-postheader__col col-12 d-flex align-items-center">
                    <nav role="navigation" aria-label="Navigation secondaire">
                        <ul>
                            <li>
                                <a href="{{ home_url }}" class="{% if request.path == home_url %}is-active {% endif %}">Accueil</a>
                            </li>
                            <li>
                                <a href="{{ publicforum_url }}" class="{% if request.path == publicforum_url %}is-active {% endif %}matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="topics">{% trans "Discussion area" %}</a>
                            </li>
                            <li>
                                <a href="{{ documentation_url }}"
                                class="{% if request.path == documentation_url %}is-active {% endif %}matomo-event"
                                data-matomo-category="engagement"
                                data-matomo-action="view"
                                data-matomo-option="documentation_header">{% trans "Documents" %}</a>
                            </li>
                            <li>
                                <a href="{{ event_url }}" class="{% if request.path == event_url %}is-active {% endif %}matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="events">{% trans "Events" %}</a>
                            </li>
                            <li>
                                <a href="{{ dsp_url }}" class="{% if request.path == dsp_url %}is-active {% endif %}matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="dsp">
                                    Diagnostic Parcours IAE
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div class="offcanvas" id="offcanvasNav" aria-label="Navigation principale pour mobile">
        <div class="offcanvas-header">
            <h4 class="h5 mb-0 btn-ico align-items-center" id="offcanvasApplyFiltersLabel">
                <i class="ri-menu-line" aria-hidden="true"></i>
                <span>Menu</span>
            </h4>
            <button type="button" class="btn-link px-2 me-n2" data-bs-dismiss="offcanvas" aria-label="Fermer">
                <i class="ri-close-line" aria-hidden="true"></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <nav role="navigation" aria-label="Navigation secondaire pour mobile">
                <form action="{% url 'search:index' %}" class="mb-4" name="header_search_form">
                    <div class="input-group input-group-rounded-pill">
                        <input class="form-control" type="search" placeholder="{% trans "Search forums" %}" aria-label="{% trans "Search forums" %}" name="q">
                        <div class="input-group-text p-0">
                            <button type="submit" class="btn btn-link btn-ico matomo-event" data-matomo-category="engagement" data-matomo-action="search" data-matomo-option="submit_query_header">
                                <i class="ri-search-line font-weight-bold" aria-label="{% trans "Search forums" %}"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a href="{{ home_url }}" class="nav-link{% if request.path == home_url %} active{% endif %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ publicforum_url }}" class="nav-link{% if request.path == publicforum_url %} active{% endif %} matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="topics">{% trans "Discussion area" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ documentation_url }}"
                        class="nav-link{% if request.path == documentation_url %} active{% endif %} matomo-event"
                        data-matomo-category="engagement"
                        data-matomo-action="view"
                        data-matomo-option="documentation_header">{% trans "Documents" %}</a>
                    </li>
                    <li>
                        <a href="{{ event_url }}" class="nav-link{% if request.path == event_url %} active{% endif %} matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="events">{% trans "Events" %}</a>
                    </li>
                    <li>
                        <a href="{{ dsp_url }}" class="nav-link{% if request.path == dsp_url %} active{% endif %} matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="dsp">
                            Diagnostic Parcours IAE
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="offcanvas-footer flex-column align-items-stretch">
            <nav role="navigation" aria-label="Menu de navigation principale pour mobile">
                {% if user.is_authenticated %}
                    <div class="dropdown-center">
                        <button type="button" class="btn btn-outline-primary btn-ico btn-block bg-white dropdown-toggle my-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-controls="dashboardUserDropdown" aria-expanded="false">
                            <i class="ri-account-circle-line" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline-block ms-0 ms-sm-2">Mon espace</span>
                        </button>
                        <div class="dropdown-menu" id="dashboardUserDropdown">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="dropdown-item">
                                        <div class="d-flex align-items-center">
                                            <span class="flex-shrink-0"><i class="ri-user-line ri-2x"></i></span>
                                            <div class="flex-grow-1 ms-2 lh-sm w-75">
                                                {% if user.get_username %}
                                                    <span>{{ user|forum_member_display_name }}</span>
                                                    <br>
                                                {% endif %}
                                                <span class="fs-sm lh-sm text-muted has-ellipsis d-inline-block w-100">{{ user.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a href="{% url 'members:profile' user.username %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="member">Accéder à mon profil</a>
                                </li>
                                <li>
                                    <a href="{% url 'forum_upvote:mine' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="upvotes">Accéder à mes sauvegardes</a>
                                </li>
                                <li>
                                    <a href="{% url 'event:myevents' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="event">Accéder à mes évènements</a>
                                </li>
                                <li>
                                    <a href="{% url 'forum_extension:index' %}" class="dropdown-item text-primary matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forums">Accéder à mes thématiques</a>
                                </li>
                                {% if user.is_superuser %}
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-primary" href="{% url 'forum_moderation:queue' %}"><i class="ri-alarm-warning-line ri-xl text-warning"></i> Moderation Queue</a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-primary" href="{% url 'admin:forum_file_publicfile_add' %}">Nouvelle image publique</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-primary" href="{% url 'pages:landing_pages' %}">Liste des landing pages</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-primary" href="{% url 'admin:index' %}">Accéder à l'admin</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" id="js-logout" href="{% url 'inclusion_connect:logout' %}">Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url 'inclusion_connect:authorize' %}" rel="nofollow" class="btn btn-inclusion-connect">
                            <img src="{% static_theme_images 'logo-inclusion-connect-one-line.svg' %}" alt="Se connecter | S'inscrire" class="img-fluid">
                        </a>
                    </div>
                {% endif %}
            </nav>
        </div>
    </div>

</header>
