<div class="alert alert-communaute alert-dismissible fade show" role="status">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    <div class="row">
        <div class="col-auto pe-0">
            <i class="ri-chat-smile-2-line ri-xl text-info"></i>
        </div>
        <div class="col">
            <p class="mb-2">
                <strong>L'inclusion aujourd'hui, les défis de demain</strong>
            </p>
            <p class="mb-0">
                Le jeudi 01 février 2024, les professionnels de l'inclusion ont rendez-vous de 09h à 17h
                <br class="d-none d-lg-inline">
                pour un événement en ligne incontournable.
            </p>
        </div>
        <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
            <a href="https://swll.to/lzyt8Y"
               class="btn btn-sm btn-primary has-external-link matomo-event"
               data-matomo-category="promotion-partenaires"
               data-matomo-action="clic"
               data-matomo-option="inclusion-demain">Je m'inscris</a>
        </div>
    </div>
</div>
