<div class="alert alert-info alert-dismissible fade show" role="status">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    <div class="row">
        <div class="col-auto pe-0">
            <i class="ri-chat-smile-2-line ri-xl text-info"></i>
        </div>
        <div class="col">
            <p class="mb-2">
                <strong>Lancez la discussion !</strong>
            </p>
            <p class="mb-0">🤝 Partagez vos experiences et trouvez un binôme en insertion professionnelle.</p>
        </div>
        <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
            <a href="https://tally.so/r/mOXyWK" class="btn btn-sm btn-primary matomo-event" data-matomo-category="promotion-partenaires" data-matomo-action="clic" data-matomo-option="binome">Trouver un binôme d'entraide</a>
        </div>
    </div>
</div>
