{% load i18n %}
{% load social_share %}
<button class="btn btn-sm btn-ico btn-link" type="button" id="dropdownMenuSocialShare{{ id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ri-share-fill ri-lg" aria-label="{% trans "Share this topics on " %}"></i>
</button>
<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuSocialShare{{ id }}">
    {% post_to_facebook instance '<i class="ri-facebook-fill ri-lg"></i> Partager sur Facebook' %}
    {% post_to_whatsapp instance '<i class="ri-whatsapp-line ri-lg"></i> Partager sur Whatsapp' %}
    {% post_to_twitter text instance '<i class="ri-twitter-line ri-lg"></i> Partager sur Twitter' %}
    {% send_email text "Ce lien peut t'intéresser :" instance '<i class="ri-mail-line ri-lg"></i> Partager par email' %}
    {% post_to_linkedin instance %}
</div>
