{% load static %}
<div class="row g-0 align-items-end">
    <div class="col-12 col-md-8">
        <p class="h1 text-tertiary">La boîte à outils des CIP</p>
        <p class="mb-md-4">
            La boîte à outils des CIP est espace dédié rassemblant des outils, des guides pour accompagner les acteurs de l'inclusion dans leur soutien aux personnes éloignées du marché du travail, confrontées à des obstacles multiples et complexes.
        </p>
        <a href="{% url 'forum_extension:forum' "la-boîte-à-outils-des-cip" 149 %}"
           data-matomo-category="engagement"
           data-matomo-action="view"
           data-matomo-option="highlight"
           class="btn btn-outline-primary matomo-event">Consulter les fiches de la boite à outils</a>
    </div>
    <div class="d-none d-md-inline col-md-4 ps-3 mb-n4">
        <img src="{% static 'images/home-banner-01-illu.png' %}" class="img-fluid" alt="">
    </div>
</div>
