{% load static %}
<div class="row g-0 align-items-end">
    <div class="col-12 col-md-8">
        <p class="h1 text-tertiary">Accompagnez vers des solutions locales</p>
        <p class="mb-md-4">
            Orientez et accompagnez les bénéficiaires vers des solutions locales et adaptées à leurs besoins. Dora est l'outil d’aide à la prescription qui vous accompagne dans la levée des freins périphériques.
        </p>
        <a href="https://dora.inclusion.beta.gouv.fr/" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="highlight" class="btn btn-outline-primary matomo-event">Consulter les offres de services sur Dora</a>
    </div>
    <div class="d-none d-md-inline col-md-4 ps-3 mb-n4">
        <img src="{% static 'images/home-banner-02-illu-dora.png' %}" class="img-fluid" alt="">
    </div>
</div>
