{% load static %}
{% load i18n %}
{% load compress %}
{% load theme_inclusion %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>{% block title %}{{ site.name }}{% endblock %}</title>
            <meta name="created" content="{% now "jS M Y h:i" %}" />
            <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
            <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="theme-color" content="#ffffff">

            <!-- https://metatags.io Open Graph -->
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="https://communaute-experimentation.inclusion.beta.gouv.fr/" />
            <meta property="og:image" content="{% static 'images/logo-meta-communaute.png' %}" />
            <meta property="og:image:alt" content="Logo de la communauté de l'inclusion" />
            <meta property="og:image:type" content="image/png" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
            <!-- https://metatags.io Twitter -->
            <meta property="twitter:card" content="summary_large_image" />
            <meta property="twitter:url" content="https://communaute-experimentation.inclusion.beta.gouv.fr/" />
            <meta property="twitter:image" content="{% static 'images/logo-meta-communaute.png' %}" />
            <meta property="twitter:site" content="inclusion_gouv" />
            <!-- https://metatags.io Facebook -->
            <meta property="fb:page_id" content="inclusion.gouv" />

            <!-- Use this to get the value of the CSRF token in JavaScript. -->
            <meta name="csrf-token" content="{{ csrf_token }}">
        {% endblock head %}

        {% block extra_head %}{% endblock %}

        {% block css %}
            <link rel="shortcut icon" href="{% static_theme_images "favicon.ico" %}" type="image/ico">
            {% import_static_CSS_theme_inclusion %}
        {% endblock %}

        {% compress css %}
            <link rel="stylesheet" href="{% static 'stylesheets/itou_communaute.scss' %}" type="text/x-scss" />
        {% endcompress %}

        {% block extra_css %}{% endblock %}
    </head>

    <body id="top" class="{% block body_class %}{% endblock %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <noscript>
            <div class="alert alert-danger" role="status">
                Javascript doit être activé pour pouvoir assurer l'affichage correct de la page (recherche géographique par exemple).
            </div>
        </noscript>

        <nav role="navigation" aria-label="Accès rapide" tabindex="1" class="sr-only">
            <ul>
                <li><a href="#nav-primary">Aller au menu principal</a></li>
                <li><a href="#main">Aller au contenu principal</a></li>
            </ul>
        </nav>

        {% block header %}
            {% include "partials/header.html" %}
        {% endblock %}

        {% block sub_header %}{% endblock %}

        <main id="main" role="main" class="s-main">
            {% block breadcrumb %}{% endblock %}

            {% block messages %}
                {% if messages %}
                    <section class="s-section m-0">
                        <div class="s-section__container container">
                            <div class="s-section__row row">
                                <div class="s-section__col col-12">
                                    {% include 'partials/messages.html' %}
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endblock %}

            {% block main %}
                {% block content %}{% endblock %}
            {% endblock %}
        </main>

        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock %}

        {% block modals %}{% endblock %}

        <div class="sr-only sr-only-focusable">
            <a href="#header">Retour au début de la page</a>
        </div>

        {% block js %}
            {% import_static_JS_theme_inclusion %}
        {% endblock %}

        {% block extra_js %}
            <script src="{% static "vendor/tarteaucitron.js-1.9.9/tarteaucitron.js" %}"></script>
            <script>

                // Tarteaucitron's language is set according to the browser configuration
                // but a lot of users don't know how to change it.
                // This can be forced only by using a global `var` statement.
                // https://github.com/AmauriC/tarteaucitron.js/blob/98b02b0bdda670bd953752d85443c3fd77dde724/tarteaucitron.js#L8
                var tarteaucitronForceLanguage = "fr";

                tarteaucitron.init({
                    "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                    "cookieName": "tarteaucitron", /* Cookie name */
                    "orientation": "top", /* Banner position (top - bottom) */
                    "groupServices": false, /* Group services by category */
                    "showAlertSmall": false, /* Show the small banner on bottom right */
                    "cookieslist": false, /* Show the cookie list */
                    "closePopup": false, /* Show a close X on the banner */
                    "showIcon": true, /* Show cookie icon to manage cookies */
                    //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
                    "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */
                    "adblocker": false, /* Show a Warning if an adblocker is detected */
                    "DenyAllCta" : true, /* Show the deny all button */
                    "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
                    "removeCredit": true, /* Remove credit link */
                    "moreInfoLink": true, /* Show more info link */
                    "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
                    "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
                    //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                    "readmoreLink": "https://doc.inclusion.beta.gouv.fr/mentions/protection-des-donnees", /* Change the default readmore link */
                    "mandatory": true, /* Show a message about mandatory cookies */
                });

                {% if COMMU_ENVIRONMENT == 'PROD' %}
                    // Matomo :
                    tarteaucitron.user.matomoId = 268;
                    tarteaucitron.user.matomoHost = "https://stats.data.gouv.fr/";
                    (tarteaucitron.job = tarteaucitron.job || []).push('matomo');
                {% endif %}
            </script>
            {% if COMMU_ENVIRONMENT == 'PROD' %}
                <script type="text/javascript" src="{% static 'javascripts/matomo.js' %}" defer></script>
            {% endif %}
            <script type="text/javascript" src="{% static 'vendor/htmx-1.8.4/htmx.min.js' %}" defer></script>
        {% endblock %}
    </body>
</html>
