{% load static %}
{% load i18n %}
{% load compress %}
{% load theme_inclusion %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>
                {% block title %}- {{ MACHINA_FORUM_NAME|default:"Forum" }}{% endblock %}
            </title>
            <meta name="created" content="{% now "jS M Y h:i" %}">
            <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
            <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="htmx-config" content='{"inlineScriptNonce":"{{ request.csp_nonce }}"}'>
            <!-- https://metatags.io Open Graph -->
            <meta property="og:locale" content="fr_FR">
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://communaute.inclusion.gouv.fr/">
            <meta property="og:image" content="{% if og_image %}{{ og_image.url }}{% else %}{% static 'images/logo-og-communaute.png' %}{% endif %}">
            <meta property="og:image:alt" content="Logo de la communauté de l'inclusion">
            <meta property="og:image:type" content="image/png">
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="630">
            <!-- https://metatags.io Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="https://communaute.inclusion.gouv.fr/">
            <meta property="twitter:image" content="{% if og_image %}{{ og_image.url }}{% else %}{% static 'images/logo-og-communaute.png' %}{% endif %}">
            <meta property="twitter:site" content="inclusion_gouv">
            <!-- https://metatags.io Facebook -->
            <meta property="fb:page_id" content="inclusion.gouv">
            <!-- Use this to get the value of the CSRF token in JavaScript. -->
            <meta name="csrf-token" content="{{ csrf_token }}">
            {% if not debug %}
                <script src="https://browser.sentry-cdn.com/9.30.0/bundle.min.js" integrity="sha384-LmM+A4DydF1AZmOq6WQjgjRJR6kP5cMplsMi5NTXpcIcDvxuXctipgRiB+a6Ih1/" crossorigin="anonymous" nonce="{{ request.csp_nonce }}"></script>
            {% endif %}
        {% endblock head %}
        {% block extra_head %}{% endblock %}
        {% block css %}
            <link rel="shortcut icon" href="{% static_theme_images "favicon.ico" %}" type="image/ico">
            <link rel="stylesheet" href="{% static 'machina/build/css/machina.board_theme.vendor.min.css' %}">
            <link rel="stylesheet" href="{% static 'machina/build/css/machina.board_theme.min.css' %}">
            {% import_static_CSS_theme_inclusion %}
        {% endblock %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'stylesheets/itou_communaute.scss' %}" type="text/x-scss">
        {% endcompress %}
        {% block extra_css %}{% endblock %}
    </head>
    <body id="top" class="{% block body_class %}{% endblock %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <noscript>
            <div class="alert alert-danger" role="status">
                Javascript doit être activé pour pouvoir assurer l'affichage correct de la page (recherche géographique par exemple).
            </div>
        </noscript>
        <nav role="navigation" aria-label="Accès rapide" tabindex="1" class="visually-hidden">
            <ul>
                <li>
                    <a href="#nav-primary">Aller au menu principal</a>
                </li>
                <li>
                    <a href="#main">Aller au contenu principal</a>
                </li>
            </ul>
        </nav>
        {% if ENVIRONMENT %}
            {% if ENVIRONMENT != "PROD" %}
                <div class="global-messages-container" id="debug-mode-banner">
                    <div class="alert alert-danger fade show" role="status">
                        <p class="mb-0">
                            <strong class="text-uppercase">{{ ENVIRONMENT }} MODE</strong>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% block header %}
            {% include "partials/header.html" %}
        {% endblock %}
        {% block sub_header %}{% endblock %}
        <main id="main" role="main" class="s-main">
            {% block messages %}
                {% if messages %}
                    <section class="s-section m-0">
                        <div class="s-section__container container">
                            <div class="s-section__row row">
                                <div class="s-section__col col-12">{% include 'partials/messages.html' %}</div>
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endblock %}
            {% block breadcrumb %}{% endblock %}
            {% block main %}
                {% block content %}{% endblock %}
            {% endblock %}
        </main>
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock %}
        {% block modals %}{% endblock %}
        <div class="visually-hidden visually-hidden-focusable">
            <a href="#header">Retour au début de la page</a>
        </div>
        {% block js %}
            {% import_static_JS_theme_inclusion %}
            <script src="{% static 'machina/build/js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript" nonce="{{ request.csp_nonce }}">
                $(function() {
                    machina.init();
                    {% block onbodyload %}{% endblock onbodyload %}
                });
            </script>
        {% endblock %}
        {% block extra_js %}
            <script src="{% static "vendor/tarteaucitron.js-1.19.0/tarteaucitron.js" %}"></script>
            <script nonce="{{ request.csp_nonce }}">
                // Tarteaucitron's language is set according to the browser configuration
                // but a lot of users don't know how to change it.
                // This can be forced only by using a global `var` statement.
                // https://github.com/AmauriC/tarteaucitron.js/blob/98b02b0bdda670bd953752d85443c3fd77dde724/tarteaucitron.js#L8
                var tarteaucitronForceLanguage = "fr";

                tarteaucitron.init({
                    "privacyUrl": "", /* Privacy policy url */
                    "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */
                    "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                    "cookieName": "tarteaucitron", /* Cookie name */
                    "orientation": "middle", /* Banner position (top - bottom) */
                    "groupServices": false, /* Group services by category */
                    "showDetailsOnClick": true, /* Click to expand the description */
                    "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                    "showAlertSmall": false, /* Show the small banner on bottom right */
                    "cookieslist": false, /* Show the cookie list */
                    "closePopup": false, /* Show a close X on the banner */
                    "showIcon": true, /* Show cookie icon to manage cookies */
                    //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
                    "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */
                    "adblocker": false, /* Show a Warning if an adblocker is detected */
                    "DenyAllCta" : true, /* Show the deny all button */
                    "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                    "alwaysNeedConsent": false, /* Ask the consent for "Privacy by design" services */
                    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
                    "removeCredit": true, /* Remove credit link */
                    "moreInfoLink": true, /* Show more info link */
                    "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
                    "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
                    //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                    "readmoreLink": "https://communaute.inclusion.gouv.fr/politique-de-confidentialite/", /* Change the default readmore link */
                    "mandatory": true, /* Show a message about mandatory cookies */
                    "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
                    //"customCloserId": "", /* Optional a11y: Custom element ID used to open the panel */
                    "googleConsentMode": true, /* Enable Google Consent Mode v2 for Google ads and GA4 */
                    "partnersList": false /* Show the number of partners on the popup/middle banner */
                });

                {% if MATOMO_BASE_URL %}
	                // Matomo :
                    tarteaucitron.user.matomoId = {{ MATOMO_SITE_ID }};
                    tarteaucitron.user.matomoHost = '{{ MATOMO_BASE_URL }}';
                    (tarteaucitron.job = tarteaucitron.job || []).push('matomo');
                {% endif %}
            </script>
            {% if MATOMO_BASE_URL and send_to_matomo %}
                {# Matomo/Piwik open source web analytics #}
                <script id="matomo-custom-init" nonce="{{ request.csp_nonce }}">
                    window._paq = window._paq || [];
                    window._paq.push(['setCustomUrl', new URL('{{ matomo_custom_url }}', window.location.origin).href]);
                </script>
                <script type="text/javascript" src="{% static 'javascripts/matomo.js' %}" defer></script>
            {% endif %}
            <script type="text/javascript" src="{% static 'vendor/htmx-1.9.5/htmx.min.js' %}" defer></script>
        {% endblock %}
    </body>
</html>
