{% load static %}
{% load i18n %}
{% load theme_inclusion %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://communauteinclusion.beta.gouv.fr/" />
    <meta property="og:image" content="{% static 'images/test.svg' %}" />
    <meta property="og:image:alt" content="Logo du marché de l'inclusion" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
     <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://communaute.inclusion.beta.gouv.fr/" />
    <meta property="twitter:image" content="{% static 'images/test.svg' %}" />
    <meta property="twitter:site" content="inclusion_gouv" />
    <!-- https://metatags.io Facebook -->
    <meta property="fb:page_id" content="inclusion.gouv" />

    <!-- Use this to get the value of the CSRF token in JavaScript. -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% endblock head %}

    {% block extra_head %}{% endblock %}

    {% block css %}
        <link rel="shortcut icon" href="{% static_theme_images "favicon.ico" %}" type="image/ico">
        {% import_static_CSS_theme_inclusion %}
    {% endblock %}

    {% block extra_css %}{% endblock %}
</head>

<body id="top" class="{% block body_class %}{% endblock %}">
    <noscript>
        <div class="alert alert-danger" role="status">
            Javascript doit être activé pour pouvoir assurer l'affichage correct de la page (recherche géographique par exemple).
        </div>
    </noscript>

    <nav role="navigation" aria-label="Accès rapide" tabindex="1" class="sr-only">
        <ul>
            <li><a href="#nav-primary">Aller au menu principal</a></li>
            <li><a href="#main">Aller au contenu principal</a></li>
        </ul>
    </nav>

    {% block header %}
      {% include "partials/header.html" %}
    {% endblock %}

    {% block sub_header %}{% endblock %}

    <main id="main" role="main" class="s-main">
       {% block breadcrumb %}{% endblock %}

        {% block messages %}
            {% if messages %}
            <section class="s-section m-0">
                <div class="s-section__container container">
                        <div class="s-section__row row">
                            <div class="s-section__col col-12">
                                {% include 'partials/messages.html' %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endblock %}

        {% block main %}
            {% block content %}{% endblock %}
        {% endblock %}
    </main>

    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock %}

    {% block modals %}{% endblock %}

    <div class="sr-only sr-only-focusable">
        <a href="#header">Retour au début de la page</a>
    </div>

    {% block js %}
        {% import_static_JS_theme_inclusion %}
    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>
