# Dev environment files
env.local.sh
.envrc

# Dotenv
.env

# Virtualenv
.venv
venv/
ENV/

# Django stuff:
*.log

# Clever Cloud
.clever.json

# IPython
.ipython

# Code quality
.pylint.d
*.isorted

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/.local/

# Debian
.bash_history
.python_history

# Mac Os
.DS_Store

# VS Code
.vscode/launch.json
