# Dev environment files
env.local.sh
.envrc

# Dotenv
.env

# Virtualenv
.venv
venv/
ENV/

# Django stuff:
*.log

# Translations
*.mo

# Clever Cloud
.clever.json

# IPython
.ipython

# Code quality
.pylint.d
*.isorted
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/.local/
node_modules/
.sass-cache/

# Project specific
lacommunaute/staticfiles/
lacommunaute/media/
backups
exports
docs

# Debian
.bash_history
.python_history

# Mac Os
.DS_Store

# VS Code
.vscode/launch.json
