{% extends "board_base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Sign in" %}{% endblock sub_title %}

{% block breadcrumb %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'forum_extension:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Sign in" %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{% trans "Sign in" %}</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-7">
                    <div class="card">
                        <div class="c-form">
                            <form method="post" action="." enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <i class="icon-exclamation-sign"></i>
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% include "partials/form_field.html" with field=form.username %}
                                {% include "partials/form_field.html" with field=form.password %}
                                <input type="hidden" name="next" value="/">
                                <div class="form-actions">
                                    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                                    <input type="submit" class="btn btn-large btn-primary" value="{% trans "Login" %}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
