{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load theme_inclusion %}
{% block title %}Connexion {{ block.super }}{% endblock %}
{% block meta_description %}
    {% trans "Login | Sign in" %}
{% endblock meta_description %}
{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-lg-8 col-12">
                    <h1 class="s-title-01__title h1">{% trans "Login | Sign in" %}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-7">
                    <div class="c-form">
                        <div class="text-center">
                            <a href="{% url 'openid_connect:authorize' %}?next={{ next }}" class="proconnect-button"></a>
                            <p>
                                <a href="https://proconnect.gouv.fr/" target="_blank" rel="noopener noreferrer" title="Qu’est-ce que AgentConnect ? - nouvelle fenêtre">
                                    Qu’est-ce que ProConnect ?
                                </a>
                            </p>
                        </div>
                        <hr class="my-5" data-it-text="ou">
                        <form method="post" action="." enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <i class="icon-exclamation-sign"></i>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <fieldset>
                                <p class="h4">Se connecter avec votre email</p>
                                {% include "partials/form_field.html" with field=form.email %}
                            </fieldset>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-row align-items-center justify-content-end gx-3">
                                        <div class="form-group col col-lg-auto order-2 order-lg-3">
                                            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                                            <input type="submit" class="btn btn-block btn-primary" value="{% trans "Login" %}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
