{% extends "layouts/base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock sub_title %}





{% block content %}
    <div class="row">
        <div class="mx-auto col-md-6 vertical-offset-100">
            <div class="card">
                <div class="card-header"><h3 class="m-0 card-title h5"><strong>{% trans "Password reset" %}</strong></h3></div>
                <div class="card-body">
                    {% if validlink %}
                        <p>Veuillez saisir votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez correctement saisi.</p>

                        {% include 'mixins/auth/auth_form.html' with form=form cta="Reset my Password" %}

                    {% else %}
                        <p>Le lien de réinitialisation du mot de passe n'est pas valide. Il a peut-être déjà été utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
