{% extends "layouts/base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock sub_title %}



{% block content %}
    <div class="row">
        <div class="mx-auto col-md-6 vertical-offset-100">
            <div class="card">
                <div class="card-header"><h3 class="m-0 card-title h5"><strong>{% trans "Reset Password" %}</strong></h3></div>
                <div class="card-body">
                    <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'adresse e-mail que vous avez saisie. Vous devriez les recevoir sous peu.</p>
                    <p>Si vous ne recevez pas d'e-mail, vérifiez que vous avez bien saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
