{% extends "board_base.html" %}
{% load i18n %}
{% load forum_member_tags %}
{% block sub_title %}
    Profil de {{ profile.user|forum_member_display_name }}
{% endblock sub_title %}
{% block content %}
    <div class="mb-3 row">
        <div class="col-12">
            <h1>Profil de {{ profile.user|forum_member_display_name }}</h1>
        </div>
    </div>
    <div class="row profile">
        <div class="col-md-3">
            <div class="mb-3 profile-sidebar">
                <div class="card">
                    <div class="profile-avatar">{% include "partials/avatar.html" with profile=profile show_placeholder=True %}</div>
                    {% if profile.search != 'NO' %}
                        <div class="profile-search-for-internship">
                            {% if profile.linkedin %}
                                <p class="my-3 text-center">
                                    <i class="ri-linkedin-fill"></i>
                                    <a href="{{ profile.linkedin }}" target="_blank">profil LinkedIn</a>
                                </p>
                            {% endif %}
                            {% if profile.cv %}
                                <p class="my-3 text-center">
                                    <i class="ri-file-text-fill"></i>
                                    <a href="{{ profile.cv.url }}" target="_blank">CV</a>
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if profile.signature %}
                        <div class="profile-signature">
                            <p class="my-3 text-center text-muted">{{ profile.signature }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if profile.user == request.user %}
                <a href="{% url 'members:profile_update' %}" class="btn btn-block btn-primary">{% trans "Edit profile" %}</a>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% if profile.search != 'NO' %}
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>{{ profile.get_search_display }}</h3>
                            </div>
                            <div class="card-body">
                                Sur la région <strong>{{ profile.get_region_display }}</strong> et pour une durée de <strong>{{ profile.internship_duration }} mois</strong>.
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row recent-posts">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {% for post in recent_posts %}
                                <div class="row post">
                                    <div class="col-12 post-content-wrapper">
                                        <div class="post-title">
                                            <a href="{% url 'forum_conversation:topic' post.topic.forum.slug post.topic.forum.pk post.topic.slug post.topic.pk %}?post={{ post.pk }}#{{ post.pk }}"
                                               class="matomo-event"
                                               data-matomo-category="engagement"
                                               data-matomo-action="view"
                                               data-matomo-option="topic">{{ post.topic.subject }}</a>
                                        </div>
                                        <p>
                                            <small class="text-muted">
                                                <i class="fa fa-clock-o"></i>&nbsp;{% blocktrans with creation_date=post.created %}On {{ creation_date }}{% endblocktrans %}
                                            </small>
                                        </p>
                                        <div class="post-content">{{ post.content.rendered|truncatechars_html:160 }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
