{% extends "board_base.html" %}
{% load i18n %}
{% load static %}

{% block sub_title %}{% trans "Join forum" %}{% endblock sub_title %}

{% block breadcrumb %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">{% trans "Forum index" %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Join forum" %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{% blocktrans trimmed with name=forum.name %}
                        Join forum {{ name }}
                    {% endblocktrans %}</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row mb-1 mb-md-3">
                <div class="s-section__col col-12">
                    <h2>Vous devez être connecté pour rejoindre une communauté</h2>
                    <p>Inclusion Connect est le portail unique de connexion à destination des professionnels de l’inclusion.</p>
                </div>
            </div>
            <div class="s-section__row row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col mb-3 mb-md-5">
                    <div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
                        <div class="card-header">
                            <h3 class="h3 mb-0">J'ai un compte Inclusion Connect</h3>
                        </div>
                        <div class="card-body">
                            <p>Si vous avez déjà utilisé un service à destination des professionnels de l'inclusion, vous avez probablement déjà un compte Inclusion Connect.</p>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{ inclusion_connect_url }}" class="btn btn-ico btn-primary">
                                <span>{% trans "Login" %}</span>
                                <i class="ri-external-link-line ri-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 mb-md-5">
                    <div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
                        <div class="card-header">
                            <h3 class="h3 mb-0">Je n'ai pas de compte Inclusion Connect</h3>
                        </div>
                        <div class="card-body">
                            <p>Si vous n'avez pas encore de compte, vous pouvez le créer maintenant et l'utiliser sur tous les services proposant Inclusion Connect.</p>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{ inclusion_connect_url }}&sign_in=1" class="btn btn-ico btn-secondary">
                                <span>{% trans "Sign in" %}</span>
                                <i class="ri-external-link-line ri-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
