{% extends "board_base.html" %}
{% load i18n %}
{% load static %}
{% load str_filters %}

{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{% trans "Forum Members" %} {{forum.name}}</strong></h1>
                    <h2 class="h2">{{paginator.count}} membre{{ paginator.count|pluralizefr }}</h2>
                </div>
            </div>
        </div>
    </section>


    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="card-columns">
                        {% for forum_profile in forum_profiles %}
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="h5 card-title">
                                        <a href="{%url 'members:profile' username=forum_profile.user.username%}"
                                            class="matomo-event"
                                            data-matomo-category="engagement"
                                            data-matomo-action="view"
                                            data-matomo-option="member">
                                            {{ forum_profile.user.get_full_name }}
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        {% empty %}
                            <p>No body yet…</p>
                        {% endfor %}
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="col-12">
                            {% with "justify-content-center" as pagination_size %}
                                {% include "partials/pagination.html" %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="validationLink01">Lier pour inviter de nouveaux membres</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="validationLink01" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'members:join_forum_form' forum.invitation_token %}" aria-describedby="basic-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-link btn-ico" type="button" id="basic-addon" data-bs-clipboard="copy" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="manual" title="" data-bs-original-title="Lien copié!">
                                            <i class="ri-file-copy-line ri-lg"></i>
                                            <span>Copier</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
