{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1">
                        <strong>Membres</strong>
                    </h1>
                    <h2 class="h2">Liste des membres de la communauté.</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        {% for forum_profile in forum_profiles %}
                            <div class="col">
                                <div class="card">
                                    {% if forum_profile.avatar %}
                                        <img class="avatar card-img-top" src="{{ forum_profile.avatar }}" alt="{{ forum_profile.user.get_full_name }}">
                                    {% endif %}
                                    <div class="card-body">
                                        <h3 class="h5 card-title">
                                            <a href="{% url 'members:profile' username=forum_profile.user.username %}" class="matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="member">{{ forum_profile.user.get_full_name }}</a>
                                        </h3>
                                        {% if forum_profile.signature %}<p class="card-text">{{ forum_profile.signature }}</p>{% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col">
                                <p>No body yet…</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
