{% extends "board_base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="card-columns">
        {% for forum_profile in forum_profiles %}
            <div class="card">
                {% if forum_profile.avatar %}
                    <img class="avatar" src="{{ forum_profile.avatar }}" class="card-img-top" alt="{{ forum_profile.user.get_full_name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{%url 'forum_member:profile' pk=forum_profile.user_id%}">{{ forum_profile.user.get_full_name }}</a>
                    </h5>
                    {% if forum_profile.signature %}
                        <p class="card-text">{{ forum_profile.signature }}</p>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            No body yet…
        {% endfor %}
    </div>
{% endblock content %}
