{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}
{% load mptt_tags %}
{% load forum_tags %}

{% block title %}Accueil{{ block.super }}{% endblock %}
{% block meta_description %}Nous déployons des communautés publiques et privées. Ces communautés sont co-construites avec et pour les acteurs de l’inclusion en fonction de leurs besoins et de leurs objectifs.{% endblock meta_description %}"

{% block body_class %}p-homepage{{ block.super }}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <section class="s-page-menu-01 s-page-menu-01--communaute">
            <div class="s-page-menu-01__container container">
                <div class="s-page-menu-01__row row align-items-center">
                    <div class="s-page-menu-01__col s-page-menu-01__col--title col-12">
                        <h1 class="h1-hero lh-sm font-weight-bold m-0">Échangeons et améliorons ensemble l’insertion par l’emploi</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-section">
            <div class="s-section__container container">
                <div class="s-section__row row mb-1 mb-md-3">
                    <div class="s-section__col col-12">
                        {% forum_list forums %}
                    </div>
                </div>
                <div class="s-section__row row mb-1 mb-md-3">
                    <div class="s-section__col col-6">
                        <a href="{% url 'event:calendar' %}" class="btn btn-primary btn-block">
                            Accéder aux évènements publics
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="s-page-menu-01 s-page-menu-01--communaute">
            <div class="s-page-menu-01__container container">
                <div class="s-page-menu-01__row row align-items-center">
                    <div class="s-page-menu-01__col s-page-menu-01__col--title col-12">
                        <h1 class="h1-hero lh-sm font-weight-bold m-0">Échangeons et améliorons ensemble l’insertion par l’emploi</h1>
                    </div>
                </div>
                <div class="s-page-menu-01__row row">
                    <div class="s-page-menu-01__col s-page-menu-01__col--title col-12 col-md-8 mt-3 mt-md-5">
                        <h2 class="h1 mb-3 mb-lg-5">Accédez aux groupes de travail et discussions</h2>

                        <ul class="lead list-unstyled mb-md-5">
                            <li class="d-flex mb-2">
                                <i class="text-success ri-checkbox-circle-fill ri-xxl"></i>
                                <span class="ml-2">Partagez vos avis, expériences, suggestions</span>
                            </li>
                            <li class="d-flex mb-2">
                                <i class="text-success ri-checkbox-circle-fill ri-xxl"></i>
                                <span class="ml-2">Rencontrez d’autres professionnels de l’inclusion !</span>
                            </li>
                            <li class="d-flex mb-2">
                                <i class="text-success ri-checkbox-circle-fill ri-xxl"></i>
                                <span class="ml-2">Participez à la construction des outils numériques de l'insertion</span>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-12 col-md-auto">
                                <a href="#community" class="btn btn-primary btn-block">
                                    Accéder aux {% trans "Forums"|lower %}
                                </a>
                            </div>
                            <div class="col-12 col-md-auto mt-3 mt-md-0">
                                <a href="{% url 'event:calendar' %}" class="btn btn-primary btn-block">
                                    Accéder aux évènements publics
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="s-page-menu-01__col col-12 d-none d-md-inline-flex col-md-4">
                        <div>
                            <img src="{% static 'images/hp-illustration-01.svg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-section m-0 bg-nuance-09">
            <div class="s-section__container container">
                <div class="s-section__row row">
                    <div class="s-section__col col-12 py-5 text-center">
                        <h2 class="h1 m-0">Vous souhaitez sonder la communauté, créer votre groupe de travail <br class="d-none d-lg-inline">ou animer un sujet de discussion, notre équipe est à votre écoute !</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-section">
            <div class="s-section__container container">
                <div class="s-section__row row mb-1 mb-md-3">
                    <div class="s-section__col col-12 anchor" id="community">
                        <p>Nous déployons des communautés publiques et privées.</p>
                        <p>Ces communautés sont co-construites avec et pour les acteurs de l’inclusion en fonction de leurs besoins et de leurs objectifs. <br> Cliquez sur une communauté ci-dessous pour consulter les sujets en cours. Pour contribuer, connectez-vous avec Inclusion Connect.</p>
                    </div>
                </div>
                <div class="s-section__row row mb-1 mb-md-3">
                    <div class="s-section__col col-12">
                        <h2>Les communautés publiques</h2>
                        {% forum_list forums %}
                    </div>
                    <div class="s-section__col col-12 mt-3">
                        <a href="{% url 'inclusion_connect:authorize' %}" class="btn btn-ico btn-outline-primary">
                            <i class="ri-login-box-line ri-lg"></i>
                            <span>
                                Je me connecte pour accéder à toutes mes communautés
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script async src="https://tally.so/widgets/embed.js"></script>
    <script defer>
        // Any given Tally popup will not be shown more than once every `minDaysBetweenDisplays` days.
        const minDaysBetweenDisplays = 14;
        const delayBeforeShowingPopupInSeconds = 45;
        const formId = 'mVGEr6';
        const key = 'statsTallyPopupLastShown-' + formId;
        const todaysDate = new Date();

        function supportsLocalStorage() {
            try {
                return 'localStorage' in window && window['localStorage'] !== null;
            } catch (e) {
                return false;
            }
        };

        function stopShowingPopupForAWhile() {
            localStorage.setItem(key, JSON.stringify(todaysDate));
        }

        function displayTallyPopup() {
            window.Tally.openPopup(formId, {
                emoji: {
                    text: "👋",
                    animation: "wave"
                },
                onClose: () => {
                    stopShowingPopupForAWhile();
                },
                onSubmit: () => {
                    stopShowingPopupForAWhile();
                }
            });
        };

        function shouldDisplayTallyPopup() {
            if (!supportsLocalStorage()) {
                return true;
            }
            infoKey = localStorage.getItem(key);
            if (infoKey) {
                const lastShown = Date.parse(JSON.parse(localStorage.getItem(key)));
                const milliSecondsElapsed = todaysDate - lastShown;
                const daysElapsed = milliSecondsElapsed / (1000 * 3600 * 24);
                if (daysElapsed <= minDaysBetweenDisplays) {
                    return false;
                };
            };
            return true;
        };

        if (shouldDisplayTallyPopup()) {
            setTimeout(displayTallyPopup, delayBeforeShowingPopupInSeconds * 1000);
        };
    </script>
{% endblock %}
