{% extends "layouts/base.html" %}

{% block title %}Accueil{{ block.super }}{% endblock %}
{% block body_class %}p-homepage{{ block.super }}{% endblock %}

{% block content %}
    <section class="s-page-menu-01 s-page-menu-01--communaute">
        <div class="s-page-menu-01__container container">
            <div class="s-page-menu-01__row row align-items-center">
                <div class="s-page-menu-01__col s-page-menu-01__col--title col-12">
                    <h1 class="h1-hero">Bienvenue sur la communauté de l'inclusion</h1>
                    <h2 class="h1">
                        La communauté de l'inclusion est une plateforme de contribution à la création, l'évolution d'un produit numérique ou de la politique publique.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <p>Pour contribuer aux discussions, rendez-vous dans le <a href="{% url 'forum:index' %}">forum</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
