{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load date_filters %}
{% block title %}Accueil{{ block.super }}{% endblock %}
{% block meta_description %}
    Entraide, information et apprentissage pour les professionnels de l'Insertion par l'Activité Economique. Améliorer sa pratique professionnelle d’accompagnateurs de personnes éloignées de l’emploi.
{% endblock meta_description %}
"
{% block body_class %}p-homepage{{ block.super }}{% endblock %}
{% block content %}
    {% url 'forum_conversation_extension:topics' as publicforum_url %}
    {% url 'forum_extension:documentation' as documentation_url %}
    {% url 'event:current' as event_url %}
    <section class="s-hero-title-01--communaute mt-5">
        <div class="s-hero-title-01__container container">
            <div class="s-hero-title-01__row row align-items-center">
                <div class="s-hero-title-01__col s-hero-title-01__col--article col-12">
                    <h1 class="s-hero-title-01__col--article__title h1-hero">L’espace d’entraide des professionnels de l’inclusion</h1>
                </div>
            </div>
            <div class="s-hero-title-01__row row align-items-center">
                <div class="s-hero-title-01__col s-hero-title-01__col--title col-12 col-lg-8 mt-3 mt-lg-5">
                    <h2 class="h1 mb-3 mb-lg-5">
                        Améliorez votre pratique professionnelle d’accompagnateurs de personnes éloignées de l’emploi ✨
                    </h2>
                    <ul class="lead list-unstyled mb-md-5">
                        <li class="d-flex mb-2">
                            <i class="text-success ri-checkbox-circle-fill ri-xxl"></i>
                            <span class="ms-2">Posez vos questions et répondre aux autres professionnels</span>
                        </li>
                        <li class="d-flex mb-2">
                            <i class="text-success ri-checkbox-circle-fill ri-xxl"></i>
                            <span class="ms-2">Retrouvez les dernières actus et infos pour sa veille informelle</span>
                        </li>
                        <li class="d-flex mb-2">
                            <i class="text-success ri-checkbox-circle-fill ri-xxl"></i>
                            <span class="ms-2">Progressez grâce à des ressources exclusives</span>
                        </li>
                    </ul>
                </div>
                <div class="s-hero-title-01__col col-12 d-none d-lg-inline-flex col-md-4">
                    <div>
                        <img src="{% static 'images/hp-illustration-01.svg' %}" class="img-fluid w-lg-75" loading="lazy" alt="">
                    </div>
                </div>
            </div>
            <div class="s-hero-title-01__row row align-items-center">
                <div class="s-hero-title-01__col s-hero-title-01__col--title col-12 mt-3 mt-lg-5 mb-lg-5">
                    {% include "partials/ask_a_question.html" %}
                </div>
            </div>
        </div>
    </section>
    <section class="s-section mt-0">
        <div class="s-section__container container">
            <div class="s-section__row row mt-3 mt-md-5">
                <div class="s-section__col col-12 col-md-6 mb-3 mb-md-5">
                    <div class="c-box p-0 h-100">
                        <div class="p-3 p-lg-4 bg-communaute-light">
                            <h3 class="m-0">
                                <i class="ri-dashboard-2-fill ri-lg font-weight-normal" aria-hidden="true"></i>
                                La boîte à outils des CIP
                            </h3>
                        </div>
                        <div class="px-3 px-lg-4 pt-3 pt-lg-4">
                            La boîte à outils des CIP est espace dédié rassemblant des outils, des guides pour accompagner les acteurs de l'inclusion dans leur soutien aux personnes éloignées du marché du travail, confrontées à des obstacles multiples et complexes.
                        </div>
                        <div class="p-3 p-lg-4">
                            <a href="{% url 'forum_extension:forum' "la-boîte-à-outils-des-cip" 149 %}"
                               class="btn btn-ico btn-outline-primary matomo-event"
                               data-matomo-category="engagement"
                               data-matomo-action="view"
                               data-matomo-option="highlight">
                                <span>Consulter les fiches de la boîte à outils</span>
                                <i class="ri-arrow-right-up-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="s-section__col col-12 col-md-6 mb-3 mb-md-5">
                    <div class="c-box p-0 h-100">
                        <div class="p-3 p-lg-4 bg-light">
                            <h3 class="m-0">
                                <i class="ri-article-line ri-lg font-weight-normal" aria-hidden="true"></i>
                                Les fiches pratique mises à jour
                            </h3>
                        </div>
                        <div class="px-3 px-lg-4 pt-3 pt-lg-4">
                            <ul class="list-unstyled mb-lg-5">
                                {% for forum in forums_category %}
                                    <li class="mb-3 position-relative">
                                        <a href="{% url 'forum_extension:forum' forum.slug forum.pk %}" class="matomo-event btn-link stretched-link" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forum">
                                            {{ forum.name }}
                                        </a>
                                        <small>dans {{ forum.parent.name }}</small>
                                        {% include "forum_conversation/partials/poster_light.html" with poster=None dated=forum.updated only %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="p-3 p-lg-4">
                            <a href="{{ documentation_url }}" class="btn btn-outline-primary btn-block matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="documentation">{% trans "See all docs" %}</a>
                        </div>
                    </div>
                </div>
                <div class="s-section__col col-12 col-md-6 mb-3 mb-md-5">
                    <div class="c-box p-0 h-100">
                        <div class="p-3 p-lg-4 bg-light">
                            <h3 class="m-0">
                                <i class="ri-user-line ri-lg font-weight-normal" aria-hidden="true"></i>
                                Les dernières questions posées
                            </h3>
                        </div>
                        <div class="px-3 px-lg-4 pt-3 pt-lg-4">
                            <ul class="list-unstyled mb-lg-5">
                                {% for topic in topics_public %}
                                    <li class="mb-3 position-relative">
                                        <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}"
                                           class="matomo-event btn-link stretched-link"
                                           data-matomo-category="engagement"
                                           data-matomo-action="view"
                                           data-matomo-option="topic">{{ topic.subject }}</a>
                                        {% include "forum_conversation/partials/poster_light.html" with poster=topic.first_post.poster_display_name dated=topic.created only %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="p-3 p-lg-4">
                            <a href="{{ publicforum_url }}" class="btn btn-outline-primary btn-block matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="topics">{% trans "See all questions" %}</a>
                        </div>
                    </div>
                </div>
                <div class="s-section__col col-12 col-md-6 mb-3 mb-md-5">
                    <div class="c-box p-0 h-100">
                        <div class="p-3 p-lg-4 bg-light">
                            <h3 class="m-0">
                                <i class="ri-calendar-event-fill ri-lg font-weight-normal" aria-hidden="true"></i>
                                Les évènements à venir
                            </h3>
                        </div>
                        <div class="px-3 px-lg-4 pt-3 pt-lg-4">
                            <ul class="list-unstyled mb-lg-5">
                                {% for event in upcoming_events %}
                                    <li class="mb-3 position-relative">
                                        <a href="{% url 'event:detail' event.pk %}" class="matomo-event btn-link stretched-link" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="event">
                                            {{ event.name }}
                                        </a>
                                        <small class="text-muted">{% include 'event/partials/event_date.html' with event=event only %}</small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="p-3 p-lg-4">
                            <a href="{{ event_url }}" class="btn btn-outline-primary btn-block matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="events">Voir tous les évènements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
