{% extends "layouts/base.html" %}

{% block title %}Mentions légales{{ block.super }}{% endblock %}
{% block body_class %}p-mention-legales{{ block.super }}{% endblock %}

{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Mentions légales</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-cms">
        <div class="s-cms__container container container-max-lg">
            <div class="s-cms__row row">
                <div class="s-cms__col col-12">
                    <article>
                        <p class="h2 mb-3">Éditeur de la plateforme</p>
                        <p>La plateforme « La Communauté de l’inclusion » est éditée par :</p>
                        <p>Le Groupement d’Intérêt Public « Plateforme de l’inclusion » situé : </p>
                        <address>
                            127 Rue de Grenelle
                            <br>
                            75007 Paris
                            <br>
                            France
                        </address>

                        <p class="h2 mb-3">Directeur de la publication</p>
                        <p>Le Directeur de la publication est Monsieur Arnaud Denoix, Directeur du GIP Plateforme de l’inclusion.</p>

                        <p class="h2 mb-3">Hébergement de la plateforme</p>
                        <p>Cette plateforme est hébergée par : </p>
                        <address>
                            Clever Cloud SAS
                            <br>
                            5, passage de l’industrie
                            <br>
                            92130 Issy-Les-Moulineaux
                            <br>
                            France
                        </address>

                        <p class="h2 mb-3">Accessibilité</p>
                        <p>La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous.</p>

                        <p class="h2 mb-3">Signaler un dysfonctionnement</p>
                        <p>Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou à une fonctionnalité du site, merci de nous en faire part.</p>

                        <p class="h2 mb-3">Sécurité</p>
                        <p>Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges.</p>


                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
