{% extends "layouts/base.html" %}

{% block title %}Politique de confidentialité{{ block.super }}{% endblock %}
{% block body_class %}p-confid{{ block.super }}{% endblock %}

{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Politique de confidentialité</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-cms">
        <div class="s-cms__container container container-max-lg">
            <div class="s-cms__row row">
                <div class="s-cms__col col-12">
                    <article>
                        <p class="h2 mb-3">Qui est responsable de la communauté de l’inclusion ?</p>
                        <p>
                            La communauté de l’inclusion est développée au sein du GIP Plateforme de l’inclusion. La communauté de l’inclusion propose trois thématiques pour animer la communauté des professionnels de l’inclusion.
                        </p>
                        <p>
                            Le responsable de l’utilisation des données est le GIP Plateforme de l’inclusion, représenté par Arnaud Denoix, Directeur du GIP Plateforme de l’inclusion.
                        </p>

                        <p class="h2 mb-3">Pourquoi traitons-nous ces données ?</p>
                        <p>
                            La communauté de l’inclusion traite des données à caractère personnel pour les raisons suivantes :
                        </p>
                        <ul>
                            <li>Permettre à tout utilisateur de créer son espace personnel afin de pouvoir bénéficier des services du site ;</li>
                            <li>Permettre à tout utilisateur de créer son espace personnel via Inclusion Connect afin de pouvoir bénéficier des services du site ;</li>
                            <li>Permettre aux utilisateurs professionnels de l'inclusion de se réunir pour échanger, partager et s'entraider.</li>
                        </ul>

                        <p class="h2 mb-3">Quelles sont les données que nous traitons ?</p>
                        <p>
                            La communauté de l’inclusion traite les données suivantes :
                        </p>
                        <ul>
                            <li>Nom ;</li>
                            <li>Prénom ;</li>
                            <li>Adresse e-mail.</li>
                        </ul>

                        <p class="h2 mb-3">Qu’est-ce qui nous autorise à traiter ces données ?</p>
                        <p>La communauté de l’inclusion traite des données à caractère personnel en se basant sur :</p>
                        <ul>
                            <li>
                                L’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-1 e) du RPGD.
                            </li>
                        </ul>
                        <p>Cette mission d’intérêt public ou relevant de l’exercice de l’autorité publique est mise en œuvre par :</p>
                        <ul>
                            <li>L’article R. 5132-1-19 du Code du travail.</li>
                        </ul>

                        <p class="h2 mb-3">Pendant combien de temps conservons-nous ces données ?</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type de données</th>
                                    <th>Durée de la conservation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Données d'inscription</td>
                                    <td>Ces données sont conservées 2 ans après le dernier contact avec la personne concernée.</td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="h2 mb-3">Quels droits avez-vous ?</p>
                        <p>
                            Vous disposez :
                        </p>
                        <ul>
                            <li>D’un droit d’information et d’un droit d’accès à vos données ;</li>
                            <li>D’un droit de rectification de vos données ;</li>
                            <li>D’un droit à la limitation du traitement de vos données.</li>
                        </ul>
                        <p>
                            Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez nous contacter : <a href="mailto:dpo@numericite.eu">dpo@numericite.eu</a>.
                            <br>
                            Vous pouvez exercer vos droits également en adressant un courrier à l’attention du Délégué à la Protection des Données du GIP de l’inclusion par courrier :
                        </p>
                        <p>
                            <adrress>
                                Groupement de l’inclusion
                                <br>
                                127 Rue de Grenelle
                                <br>
                                75007 Paris
                            </adrress>
                        </p>
                        <p>
                            Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous demander une preuve de votre identité.
                            <br>
                            Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL&nbsp;: <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>.
                        </p>
                        <p>
                            Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.
                        </p>

                        <p class="h2 mb-3">Qui va avoir accès à ces données ?</p>
                        <p>
                            Les accès aux données sont strictement encadrés et juridiquement justifiés. Les personnes suivantes vont avoir accès aux données :
                        </p>
                        <ul>
                            <li>Les membres de la Communauté de l’inclusion qui ont besoin des données dans leurs missions ou qui y ont accès de fait (développeurs par exemple) ;</li>
                            <li>Les membres de la plateforme Inclusion Connect.</li>
                        </ul>

                        <p class="h2 mb-3">Quelles mesures de sécurité mettons-nous en place ?</p>
                        <p>
                            Nous mettons en place plusieurs mesures pour sécuriser les données :
                        </p>
                        <ul>
                            <li>Stockage des données en base de données ;</li>
                            <li>Stockage des mots de passe en base hachée ;
                                <li>Cloisonnement des données ;
                                    <li>Mesures de traçabilité ;
                                        <li>Surveillance ;
                                            <li>Protection contre les virus, malwares et logiciels espions ;
                                                <li>Protection des réseaux ;
                                                    <li>Sauvegarde ;
                                                        Mesures restrictives limitant l’accès physique aux données à caractère personnel.</li>
                                                </ul>

                                                <p class="h2 mb-3">Quels sont nos sous-traitants ?</p>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Partenaires</th>
                                                            <th>Pays destinataire</th>
                                                            <th>Traitement réalisé</th>
                                                            <th>Garanties</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>CleverCloud</td>
                                                            <td>France</td>
                                                            <td>Hébergement</td>
                                                            <td>
                                                                <a href="https://www.clever-cloud.com/fr/politique-de-confidentialite/">https://www.clever-cloud.com/fr/politique-de-confidentialite/</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Matomo</td>
                                                            <td>France</td>
                                                            <td>Mesure d’audience</td>
                                                            <td>
                                                                <a href="https://fr.matomo.org/privacy-policy/">https://fr.matomo.org/privacy-policy/</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Google Webfonts</td>
                                                            <td>États-Unis</td>
                                                            <td>Service d’hébergement de police d’écriture</td>
                                                            <td>
                                                                <a href="https://policies.google.com/privacy?hl=fr">https://policies.google.com/privacy?hl=fr</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tally</td>
                                                            <td>Belgique</td>
                                                            <td>Formulaires et sondages en ligne</td>
                                                            <td>
                                                                <a href="https://policies.google.com/privacy?hl=fr">https://policies.google.com/privacy?hl=fr</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sentry</td>
                                                            <td>États-Unis</td>
                                                            <td>Tracking des erreurs</td>
                                                            <td>
                                                                <a href="https://sentry.io/privacy/">https://sentry.io/privacy/</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <p class="h2 mb-3">Cookies</p>
                                                <p>Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).
                                                    <br>En application de l’article 5(3) de la directive 2002/58/CE modifiée concernant le traitement des données à caractère personnel et la protection de la vie privée dans le secteur des communications électroniques, transposée à l’article 82 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts.
                                                    <br>Les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique sont dispensés de consentement préalable au titre de l’article 82 de la loi n°78-17 du 6 janvier 1978. Les cookies n’étant pas strictement nécessaires au service ou n’ayant pas pour finalité exclusive de faciliter la communication par voie électronique doivent être consenti par l’utilisateur.
                                                    <br>Ce consentement de la personne concernée pour une ou plusieurs finalités spécifiques constitue une base légale au sens du RGPD et doit être entendu au sens de l'article 6-a du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.
                                                    <br>À tout moment, vous pouvez refuser l’utilisation des cookies et désactiver le dépôt sur votre ordinateur en utilisant la fonction dédiée de votre navigateur (fonction disponible notamment sur Microsoft Internet Explorer 11, Google Chrome, Mozilla Firefox, Apple Safari et Opera). L’utilisateur peut, à tout moment, autoriser ou interdire le suivi des cookies grâce au panneau de gestion des cookies « tarteaucitron » en bas de l’écran.
                                                    <br>La plateforme de la Communauté de l’inclusion utilise Matomo pour la mesure d’audience. La plateforme ne configure pas Matomo en mode exempté et nécessite donc le consentement des utilisateurs conformément aux recommandations de la CNIL. L’utilisateur peut refuser le suivi réalisé par Matomo grâce au bandeau cookies sur la plateforme.
                                                </p>
                                                <p>Il convient d'indiquer que :</p>
                                                <ul>
                                                    <li>Les cookies ne permettent pas de suivre la navigation de l’internaute sur d’autres sites.</li>
                                                </ul>
                                                <p>Pour aller plus loin, vous pouvez consulter les ﬁches proposées par la Commission Nationale de l'Informatique et des Libertés (CNIL) :</p>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi">Cookies &amp; traceurs : que dit la loi ?</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">Cookies : les outils pour les maîtriser</a>
                                                    </li>
                                                </ul>

                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </section>
{% endblock %}
