{% extends "layouts/base.html" %}
{% load str_filters %}
{% load js_filters %}
{% load static %}

{% block title %}Statistiques{{ block.super }}{% endblock %}
{% block body_class %}p-statistiques{{ block.super }}{% endblock %}

{% block breadcrumb %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'forum_extension:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Statistiques</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Statistiques</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="card c-card mb-3 mb-md-5">
                        <div class="card-header">
                            <h2>Acquisition</h2>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col funnel-container">
                                    <img src="{% static 'images/funnel.png' %}" alt="Entonnoir d'aquisition des utilisateurs">
                                    <span class="number-overlay number-overlay-top">10 000</span>
                                    <span class="number-overlay number-overlay-middle">2362</span>
                                    <span class="number-overlay number-overlay-middle target">23,62% du Potentiel</span>
                                    <span class="number-overlay number-overlay-bottom">54</span>
                                    <span class="number-overlay number-overlay-bottom target">2,3% des Actifs</span>
                                </div>
                                <div class="col ">
                                    <span class="text-overlay text-overlay-top">
                                        <h3 class="mb-1">Utilisateurs Potentiels</h3>estimation du nombre d'accompagnants pouvant potentiellement profiter des ressources de la communauté
                                    </span>
                                    <span class="text-overlay text-overlay-middle"><h3 class="mb-1">Utilisateurs Actifs (Cible : 5000)</h3>visiteurs consultant les contenus de la communauté</span>
                                    <span class="text-overlay text-overlay-bottom"><h3 class="mb-1">Utilisateurs Engagés (Cible : 1250)</h3>visiteurs contribuant aux contenus de la communauté</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                Période : Février 2023
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="card c-card mb-3 mb-md-5">
                        <div class="card-header">
                            <h2>Vue quotidienne</h2>
                        </div>
                        <div class="card-body">
                            <canvas id="statChart"></canvas>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <ul>
                                    <li>Utilisateurs : visiteurs uniques ayant au moins accédé à la page d'accueil</li>
                                    <li>Utilisateurs actifs : visiteurs uniques ayant au moins parcouru le fil d'actualités d'une communauté</li>
                                    <li>Utilisateurs engagés : visiteurs uniques ayant posé une question, cherché ou posté une réponse</li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1"></script>
    <script>
        const ctx_stats = document.getElementById('statChart');
        new Chart(ctx_stats, {
            type: 'line',
            data: {
                labels: {{ stats.date | js }},
                datasets: [
                    {
                        label: 'Utilisateurs',
                        data: {{ stats.nb_uniq_visitors | js }},
                    },
                    {
                        label: 'Utilisateurs actifs',
                        data: {{ stats.nb_uniq_active_visitors | js }},
                    },
                    {
                        label: 'Utilisateurs engagés',
                        data: {{ stats.nb_uniq_engaged_visitors | js }},
                    },

                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
