{% extends "layouts/base.html" %}
{% load str_filters %}
{% load js_filters %}
{% load static %}
{% block title %}Statistiques{{ block.super }}{% endblock %}
{% block body_class %}p-statistiques{{ block.super }}{% endblock %}
{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1">
                        <strong>Statistiques</strong>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="c-box mb-3 mb-md-5">
                        <h2>Mesure de l'impact</h2>
                        <canvas id="impactChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="c-box mb-3 mb-md-5">
                        <h2>Acquisition</h2>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <figure class="funnel">
                                    <div>
                                        <span class="display-3 mb-3">Utilisateurs</span>
                                        <span class="h2">{{ nb_uniq_visitors }}</span>
                                    </div>
                                    <div>
                                        <span class="display-3 text-white mb-3">Utilisateurs actifs</span>
                                        <span class="h2 mb-3 text-white">{{ nb_uniq_active_visitors }}</span>
                                        <span class="fs-sm">{{ activation_percent }}% des utilisateurs</span>
                                    </div>
                                    <div>
                                        <span class="display-3 text-white mb-3">Utilisateurs engagés</span>
                                        <span class="h2 mb-3 text-white">{{ nb_uniq_engaged_visitors }}</span>
                                        <span class="fs-sm">{{ engagement_percent }}% des util. actifs</span>
                                    </div>
                                    <figcaption class="fs-sm text-muted mt-3">Période : {{ period }}</figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-6">
                                <dl class="definition">
                                    <div>
                                        <dt class="h4 mb-0">Utilisateurs</dt>
                                        <dd class="mb-0">
                                            Visiteurs uniques ayant au moins accédé à la page d'accueil
                                        </dd>
                                    </div>
                                    <div>
                                        <dt class="h4 mb-0">Utilisateurs Actifs</dt>
                                        <dd class="mb-0">
                                            Visiteurs uniques ayant au moins parcouru le fil d'actualités d'une communauté
                                        </dd>
                                    </div>
                                    <div>
                                        <dt class="h4 mb-0">Utilisateurs Engagés</dt>
                                        <dd class="mb-0">
                                            Visiteurs uniques ayant posé une question, cherché ou posté une réponse
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="c-box mb-3 mb-md-5">
                        <h2>Vue quotidienne</h2>
                        <canvas id="statChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1"></script>
    {# djlint: off #}
        <script nonce="{{ request.csp_nonce }}">
            const impact_stats = document.getElementById('impactChart');
            new Chart(impact_stats, {
                type: 'bar',
                data: {
                    labels: {{ impact.date | js }},
                    datasets: [
                        {
                            label: 'Professionnels ayant acquis de nouvelles connaissances (estimation)',
                            data: {{ impact.nb_uniq_visitors_returning | js }},
                            borderWidth: 2,
                            borderRadius: 20,
                            borderSkipped: false,
                        },
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                    }
                }
            });
</script>
    <script nonce="{{ request.csp_nonce }}">
        const ctx_stats = document.getElementById('statChart');
        new Chart(ctx_stats, {
            type: 'line',
            data: {
                labels: {{ stats.date | js }},
                datasets: [
                    {
                        label: 'Utilisateurs',
                        data: {{ stats.nb_uniq_visitors | js }},
                    },
                    {
                        label: 'Utilisateurs actifs',
                        data: {{ stats.nb_uniq_active_visitors | js }},
                    },
                    {
                        label: 'Utilisateurs engagés',
                        data: {{ stats.nb_uniq_engaged_visitors | js }},
                    },
                ]
            },
            options: {
                responsive:true,
                cubicInterpolationMode: 'monotone',
                tension: 0.4,
            }
        });
</script>
    {# djlint: on #}
{% endblock %}
