{% extends "layouts/base.html" %}
{% load str_filters %}
{% load js_filters %}
{% load static %}

{% block title %}Statistiques{{ block.super }}{% endblock %}
{% block body_class %}p-statistiques{{ block.super }}{% endblock %}

{% block breadcrumb %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Statistiques</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Statistiques</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    {% for forum_stats in forums_stats %}
                        <div class="card c-card mb-3 mb-md-5">
                            <div class="card-header">
                                <h2>{{ forum_stats.name }}</h2>
                            </div>
                            <div class="card-body">
                                <p>
                                    {% if forum_stats.is_private %}<span class="badge badge-base badge-pill badge-communaute text-white">{{ forum_stats.members_count }} membre{{ forum_stats.members_count|pluralizefr }}</span>{% endif %}
                                    <span class="badge badge-base badge-pill badge-communaute text-white">{{ forum_stats.topics_count }} sujet{{ forum_stats.topics_count|pluralizefr }}</span>
                                    <span class="badge badge-base badge-pill badge-communaute text-white">{{ forum_stats.posts_count }} post{{ forum_stats.posts_count|pluralizefr }}</span>
                                </p>
                                <div>
                                    <canvas id="statChart{{ forloop.counter }}"></canvas>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1"></script>
    {% for forum_stats in forums_stats %}
        <script>
            const ctx{{ forloop.counter }} = document.getElementById('statChart{{ forloop.counter }}');
            new Chart(ctx{{ forloop.counter }}, {
                type: 'line',
                data: {
                    labels: {{ forum_stats.stats.days|js }},
                    datasets: [{
                        label: 'Nombre de sujets',
                        data: {{ forum_stats.stats.topics|js }},
                    },
                        {
                            label: 'Nombre de posts',
                            data: {{ forum_stats.stats.posts|js }},
                        }
                        {% if forum_stats.is_private %}
                            ,
                            {
                                label: 'Nombre de membres',
                                data: {{ forum_stats.stats.members|js }},
                            }
                        {% endif %}
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    {% endfor %}
{% endblock %}
