{% extends "layouts/base.html" %}
{% load i18n %}
{% load highlight %}
{% load date_filters %}
{% load str_filters %}
{% block title %}
    {% trans "Search" %}{{ block.super }}
{% endblock %}
{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1>{% trans "Search forums" %}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <div class="c-box">{% include "forum_search/search_form.html" %}</div>
                </div>
            </div>
            {% if query %}
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="c-box">
                            {% if page.paginator.count %}
                                <div class="row">
                                    <div class="col">
                                        <h3 class="h4 mb-0">{{ page.paginator.count }} {% trans "result" %}{{ page.paginator.count|pluralizefr }}</h3>
                                    </div>
                                    <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                                        <a href="{% url 'forum_conversation:topic_create' forum.slug forum.pk %}"
                                           rel="nofollow"
                                           class="btn btn-outline-primary btn-ico btn-block matomo-event"
                                           data-matomo-category="engagement"
                                           data-matomo-action="contribute"
                                           data-matomo-option="new_topic_after_search">
                                            <i class="ri-chat-new-line ri-lg"></i>
                                            <span>Poser une question</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive-lg">
                                    <table class="table table-hover mt-3 mt-md-4">
                                        <caption class="visually-hidden">Liste de résultats</caption>
                                        <tbody>
                                            {% for result in page.object_list %}
                                                {% if result.topic %}
                                                    <tr>
                                                        <td class="position-relative">
                                                            <a href="{% url 'forum_conversation:topic' result.forum_slug result.forum result.topic_slug result.topic %}"
                                                               class="btn-link stretched-link btn-ico matomo-event"
                                                               data-matomo-category="engagement"
                                                               data-matomo-action="view"
                                                               data-matomo-option="topic">
                                                                <i class="ri-user-line ri-lg" aria-hidden="true"></i>
                                                                <span>{{ result.topic_subject }}</span>
                                                            </a>
                                                            <br>
                                                            <small class="text-muted">
                                                                {% spaceless %}
                                                                    {% blocktrans trimmed with poster_username=result.poster_name creation_date=result.created %}
                                                                        By: {{ poster_username }},
                                                                    {% endblocktrans %}
                                                                {% endspaceless %}
                                                                {{ result.created|relativetimesince_fr }}
                                                            </small>
                                                            <div>{% highlight result.text with request.GET.q max_lenght 800 %}</div>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td class="position-relative">
                                                            <a href="{% url 'forum_extension:forum' result.forum_slug result.forum %}"
                                                               class="btn-link btn-ico stretched-link matomo-event"
                                                               data-matomo-category="engagement"
                                                               data-matomo-action="view"
                                                               data-matomo-option="forum">
                                                                <i class="ri-article-line" aria-hidden="true"></i>
                                                                <span>{{ result.forum_name }}</span>
                                                            </a>
                                                            <br>
                                                            <small class="text-muted">
                                                                {% spaceless %}
                                                                    Fiche mise à jour
                                                                {% endspaceless %}
                                                                {{ result.forum_updated|relativetimesince_fr }}
                                                            </small>
                                                            <div>{% highlight result.text with request.GET.q max_lenght 800 %}</div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col">
                                        <h3 class="h4 mb-0">Aucun résultat ? Posez votre question dans l'espace d'échanges !</h3>
                                    </div>
                                    <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                                        <a href="{% url 'forum_conversation:topic_create' forum.slug forum.pk %}"
                                           rel="nofollow"
                                           class="btn btn-outline-primary btn-ico btn-block matomo-event"
                                           data-matomo-category="engagement"
                                           data-matomo-action="contribute"
                                           data-matomo-option="new_topic_after_search">
                                            <i class="ri-chat-new-line ri-lg"></i>
                                            <span>Poser une question</span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if page.has_previous or page.has_next %}
                                {% with pagination_size="pagination-sm justify-content-center mt-5" %}
                                    {% include "forum_search/pagination.html" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
