{% extends "layouts/base.html" %}

{% load i18n %}
{% load highlight %}
{% load date_filters %}

{% block title %}{% trans "Search" %}{{ block.super }}{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    {% if not query %}
                        <h1>{% trans "Search" %}</h1>
                        <h2 class="h3">{% trans "Search forums" %}</h2>
                    {% else %}
                        <h1>{% trans "Search" %} "{{ request.GET.q|safe }}"</h1>
                        <h2 class="h3">{% trans "Search forums" %}</h2>
                        <p class="lead">
                            {% blocktrans trimmed count number_of_results=page.paginator.count %}
                                Your search has returned <b>{{ number_of_results }}</b> result
                            {% plural %}
                                Your search has returned <b>{{ number_of_results }}</b> results
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            {% if not query %}
                <div class="row">
                    <div class="col-12">
                        <div class="c-box">
                            <form method="get" action="." class="form">
                                <div class="form-row align-items-end">
                                    <div class="col">
                                        {% include "partials/form_field.html" with field=form.q %}
                                    </div>
                                    <div class="col-auto mb-3">
                                        <button type="submit" class="btn btn-primary btn-ico">
                                            <i class="ri-search-line"></i>
                                            <span>{% trans "Search" %}</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12">
                        <div class="c-box">
                            {% if page.paginator.count %}
                                <h3 class="h4 mb-0">{% trans "Results" %}</h3>
                                <div class="table-responsive-lg">
                                    <table class="table table-hover mt-3 mt-md-4">
                                        <caption class="sr-only">Liste de résultats</caption>
                                        <tbody>
                                            {% for result in page.object_list %}
                                                {% if result.topic %}
                                                    <tr>
                                                        <td class="position-relative">
                                                            <a href="{% url 'forum_conversation:topic' result.forum_slug result.forum result.topic_slug result.topic %}" class="btn-link stretched-link">{{ result.topic_subject }}</a><br>
                                                            <small class="text-muted">
                                                                {% spaceless %}
                                                                    <i class="fas fa-clock"></i>&nbsp;
                                                                    {% blocktrans trimmed with poster_username=result.poster_name creation_date=result.created %}
                                                                        By: {{ poster_username }},
                                                                    {% endblocktrans %}
                                                                {% endspaceless %}
                                                                {{result.created|relativetimesince_fr}}
                                                            </small>
                                                            <div>
                                                                {% highlight result.text with request.GET.q max_lenght 800 %}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td class="position-relative">
                                                            <a href="{% url 'forum_extension:forum' result.forum_slug result.forum %}" class="btn-link stretched-link">{{ result.forum_name }}</a><br>
                                                            <small class="text-muted">
                                                                {% spaceless %}
                                                                    <i class="fas fa-clock"></i>&nbsp;
                                                                    Fiche mise à jour
                                                                {% endspaceless %}
                                                                {{result.forum_updated|relativetimesince_fr}}
                                                            </small>
                                                            <div>
                                                                {% highlight result.text with request.GET.q max_lenght 800 %}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
                                    <h3 class="h4 mb-0">{% trans "No results." %}</h3>
                                    <div class="flex-column flex-md-row btn-group btn-group-sm btn-group-action" role="group">
                                        <a class="btn btn-primary btn-ico justify-content-center mt-3 mt-md-0" href="{% url 'forum_search_extension:search' %}">
                                            <i class="ri-search-line"></i>
                                            <span>{% trans "New search" %}</span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if page.has_previous or page.has_next %}
                                {% with pagination_size="pagination-sm justify-content-center mt-5" %}
                                    {% include "forum_search/pagination.html" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
