{% load i18n %}

<form method="get" action="." class="form">
    <div class="form-row align-items-end">
        <div class="col">
            {% include "partials/form_field.html" with field=form.q %}
        </div>
        <div class="col-auto mb-3">
            <button type="submit"
                    class="btn btn-primary btn-ico matomo-event"
                    data-matomo-category="engagement"
                    data-matomo-action="search"
                    data-matomo-option="submit_query"
            >
                <i class="ri-search-line"></i>
                <span>{% trans "Search" %}</span>
            </button>
        </div>
    </div>
</form>
