<div class="alert alert-info alert-dismissible fade show" role="status">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    <div class="row">
        <div class="col-auto pe-0">
            <i class="ri-megaphone-fill ri-xl text-info"></i>
        </div>
        <div class="col">
            <p class="mb-2">
                <strong>C'est le bon moment pour contribuer !</strong>
            </p>
            <p class="mb-0">
                Vous souhaitez mettre en avant une expertise spécifique, et proposer une fiche technique ? Soumettez votre proposition à l'équipe de la communauté. Nous serons ravi de mettre en avant votre contribution !
            </p>
        </div>
        <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
            <a href="https://tally.so/r/n06QxB" class="btn btn-sm btn-primary matomo-event" data-matomo-category="banner" data-matomo-action="clic" data-matomo-option="call_for_contributers">Je soumets mon projet de fiche</a>
        </div>
    </div>
</div>
