//
// Variables
// --------------------------------------------------


//== Global values
//
//## Some global values used in all styles are defined here.

$baseUrl: '../';


// Default colors
//
// ## Some default colors...

$black: #000;
$blue: #000091;
$blueDark: #000638;
$gray: #4D5174;
$grayDark: #333860;
$grayDarker: #1A1F4C;
$grayLight: #80829B;
$grayLighter: #FBFBFB;
$green: #18753C;
$greenLight: #CEEFDB;
$orange: #B34000;
$pink: #F42AD4;
$purple: #7a43b6;
$red: #CE0500;
$redLight: #FFCFCD;
$white: #FFFFFF;
$yellow: #FFBE18;
