{% extends "layouts/base.html" %}

{% block title %}Erreur 400{{ block.super }}{% endblock %}
{% block body_class %}p-error{{ block.super }}{% endblock %}

{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Erreur 400</strong></h1>
                    <h2 class="h2">Bad request.</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
