{% extends BASE_TEMPLATE %}

{% block title %}Erreur 404{{ block.super }}{% endblock %}
{% block body_class %}p-error{{ block.super }}{% endblock %}

{% block content %}
    {% block htmx %}
        <section class="s-title-01">
            <div class="s-title-01__container container">
                <div class="s-title-01__row row">
                    <div class="s-title-01__col col-12">
                        <h1 class="h1">Bienvenue sur le site de la Communauté de l'Inclusion.</h1>
                        <p>Le site a fait peau neuve et le lien sur lequel vous avez cliqué n'est plus disponible.</p>
                        <p>L'aide reste accessible à l'adresse <a href="https://documentation.inclusion.beta.gouv.fr/aide/">documentation.inclusion.beta.gouv.fr/aide/</a></p>
                        <p>La liste des communautés publiques est accessible à l'adresse <a href="{% url 'forum_extension:home' %}">communaute.inclusion.beta.gouv.fr</a></p>
                        <p>Pour retrouver l'intégralité des services, vous pouvez consulter le site <a href="https://inclusion.beta.gouv.fr/">inclusion.beta.gouv.fr</a></p>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endblock %}
