{% extends "./base_detail_stats.html" %}
{% load js_filters %}
{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1"></script>
    <script nonce="{{ request.csp_nonce }}">
        const ctx_stats = document.getElementById('statChart');
        new Chart(ctx_stats, {
            type: 'line',
            data: {
                labels: {{ stats.date | js }},
                datasets: [
                    {
                        label: 'Utilisateurs',
                        data: {{ stats.nb_uniq_visitors | js }},
                        borderColor: 'rgba(54, 162, 235)',
                        backgroundColor: 'rgba(154, 208, 245)',
                    },
                    {
                        label: 'Utilisateurs actifs',
                        data: {{ stats.nb_uniq_active_visitors | js }},
                        borderColor: 'rgba(76, 120, 83)',
                        backgroundColor: 'rgba(112, 178, 123)',
                    },
                    {
                        label: 'Utilisateurs engagés',
                        data: {{ stats.nb_uniq_engaged_visitors | js }},
                        borderColor: 'rgba(255, 159, 64)',
                        backgroundColor: 'rgba(255, 207, 159)',
                    },
                    {
                        label: 'Utilisateurs retour',
                        data: {{ stats.nb_uniq_visitors_returning | js }},
                        borderColor: 'rgba(98, 42, 86)',
                        backgroundColor: 'rgba(155, 67, 136)',
                    },
                ]
            },
            options: {
                responsive:true,
                cubicInterpolationMode: 'monotone',
                tension: 0.4,
            }
        });
    </script>
{% endblock %}
