{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_title %}{% trans "calendar" %}{% endblock sub_title %}

{% block breadcrumb %}{% include "partials/breadcrumb_calendar.html" %}{% endblock breadcrumb %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Les évènements à venir</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="tiva-events-calendar full" data-source="json"></div>
                </div>
            </div>
        </div>
    </section>

    {% if user.is_authenticated %}
        <section class="s-section">
            <div class="s-section__container container">
                <div class="s-section__row row">
                    <div class="s-section__col col-12">
                        <a href="{% url 'event:create' %}"
                            role="button" class="btn btn-primary matomo-event"
                            data-matomo-category="engagement"
                            data-matomo-action="create"
                            data-matomo-option="event">
                            {% trans "Post a new Public Event" %}
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar_full.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar_compact.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/style.css' %}" />
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'vendor/htmx-1.8.4/htmx.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/js/config.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/js/calendar.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/languages/en.js' %}" defer></script>
{% endblock %}
