{% extends "layouts/base.html" %}
{% load i18n %}

{% load widget_tweaks %}

{% block breadcrumb %}{% include "partials/breadcrumb_calendar.html" %}{% endblock breadcrumb %}

{% block sub_title %}{% trans "Post a new Public Event" %}{% endblock sub_title %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{% trans "Post a new Public Event" %}</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="c-form">
                        <form method="post" action="." class="form" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            {% include "partials/form_field.html" with field=form.name %}
                            <div class="row">
                                <div class="col-6">
                                    {% include "partials/form_field.html" with field=form.date %}
                                </div>
                                <div class="col-6">
                                    {% include "partials/form_field.html" with field=form.time %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    {% include "partials/form_field.html" with field=form.end_date %}
                                </div>
                                <div class="col-6">
                                    {% include "partials/form_field.html" with field=form.end_time %}
                                </div>
                            </div>
                            {% include "partials/form_field.html" with field=form.location %}
                            {% include "partials/form_field.html" with field=form.description %}

                            <div class="form-actions form-row">
                                <div class="form-group col-auto">
                                    <input type="submit" class="btn btn-primary matomo-event" value="{% trans "Submit" %}"
                                        data-matomo-category="engagement"
                                        data-matomo-action="contribute"
                                        data-matomo-option="event">
                                    {% if event %}
                                        <a href="{% url 'event:delete' pk=event.pk %}" role="button" class="btn btn-outline-danger" value="{% trans "Delete" %}">{% trans "Delete" %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}




