{% extends 'board_base.html' %}
{% load i18n %}
{% load static %}

{% block sub_title %}{% trans "calendar" %}{% endblock sub_title %}

{% block breadcrumb %}{% include "partials/breadcrumb_calendar.html" %}{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="block-title">Les évènements de l'Inclusion à venir !</div>
            <div class="tiva-events-calendar full" data-source="json"></div>
        </div>
    </div>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar_full.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar_compact.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/style.css' %}" />
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'vendor/htmx-1.8.4/htmx.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/js/config.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/js/calendar.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/languages/en.js' %}" defer></script>
{% endblock %}
