{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}
{% load str_filters %}

{% block title %}{% trans "calendar" %}{{ block.super }}{% endblock %}

{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Les évènements à venir</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="tiva-events-calendar full" data-source="json"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    {% if user.is_authenticated %}
                        <a href="{% url 'event:create' %}"
                           role="button" class="btn btn-primary">
                            {% trans "Post a new Public Event" %}
                        </a>
                    {% else %}
                        <a href="{% inclusion_connect_url next_url %}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Connectez-vous pour contribuer">
                            {% trans "Post a new Public Event" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar_full.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/calendar_compact.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/tiva-calendar/css/style.css' %}" />
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'vendor/htmx-1.8.4/htmx.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/js/config.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/js/calendar.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/tiva-calendar/languages/en.js' %}" defer></script>
{% endblock %}
