/* CSS for tarteaucitron.js
---------------------------------------------------------------------------- */

.tac_visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.p-homepage {
  .s-main::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 350px;
    height: 260px;
    background-image: url('data:image/svg+xml;utf8,%3csvg xmlns="http://www.w3.org/2000/svg" width="416" height="416"%3e%3cpath fill="%23D1EDE5" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-size: 554px;
    background-position: bottom right;
  }
}

.topiclist .card-header {

  .topic-thumbnail {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-right: 0.50rem;
    border-radius: 50%;
    overflow: hidden;

    >img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }

  .topic-icon {
    width: auto;
    height: auto;
    line-height: 1;
    text-align: left;
  }
}

.card.forumlist .card-body .forum-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 1;
  text-align: left;

  i {
    font-size: 42px;
  }
}

.btn-post-reply[aria-expanded="true"] {
  color: #fff !important;
  background-color: #b3b4c3 !important;
  border-color: #b3b4c3 !important;
}

.funnel-container {
  position: relative;
}

.number-overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.target {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 300;
  margin-top: 30px;
}

.number-overlay-top {
  top: 15%;
}

.number-overlay-middle {
  top: 45%;
  color: #fff;
}

.number-overlay-bottom {
  top: 80%;
  color: #fff;
}

.text-overlay {
  position: absolute;
  font-size: 12px;
  font-weight: 300;
}

.text-overlay-top {
  top: 10%;
}

.text-overlay-middle {
  top: 45%;
}

.text-overlay-bottom {
  top: 75%;
}

.btn-poster {
  padding: 0 !important;
  background-color: transparent !important;
  border: 0 !important;
}

#communautesDropdown.dropdown-menu {
  max-height: 75vh;
  overflow-y: auto;
}

blockquote {
  padding: 1rem;
  border: 0px solid #3f3e62;
  border-radius: .25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: rgb(242, 243, 245);
}

span.highlighted {
  font-weight: 500;
}
