/* CSS for tarteaucitron.js
---------------------------------------------------------------------------- */

.tac_visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.p-homepage {
  .s-main::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 350px;
    height: 260px;
    background-image: url('data:image/svg+xml;utf8,%3csvg xmlns="http://www.w3.org/2000/svg" width="416" height="416"%3e%3cpath fill="%23D1EDE5" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-size: 554px;
    background-position: bottom right;
  }
}

.card-header {
  .topic-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-right: 0.5rem;
    border-radius: 50%;
    overflow: hidden;

    > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }

  .topic-icon {
    width: auto;
    height: auto;
    line-height: 1;
    text-align: left;
  }
}

.card.forumlist .card-body .forum-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 1;
  text-align: left;

  i {
    font-size: 42px;
  }
}

.btn-post-reply[aria-expanded='true'] {
  color: #fff !important;
  background-color: var(--bs-disabled-color) !important;
  border-color: var(--bs-disabled-color) !important;
}

.btn-poster {
  padding: 0 !important;
  background-color: transparent !important;
  border: 0 !important;
}

#communautesDropdown.dropdown-menu {
  max-height: 75vh;
  overflow-y: auto;
}

blockquote {
  padding: 1rem;
  border: 0px solid var(--bs-secondary);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: rgb(242, 243, 245);
}

span.highlighted {
  font-weight: 500;
}

.input-group-rounded-pill {
  border-radius: 50rem !important;

  > input {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
  }

  .input-group-text,
  button {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
  }
}

.funnel {
  position: relative;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--bs-white);

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 450px solid var(--bs-white);
  }

  &:before {
    left: 0;
    border-right: 50px solid transparent;

    @media (min-width: 992px) {
      border-right: 100px solid transparent;
    }
  }

  &:after {
    right: 0;
    border-left: 50px solid transparent;

    @media (min-width: 992px) {
      border-left: 100px solid transparent;
    }
  }

  > div {
    padding: 16px 8px;
    margin: 0;
    margin-bottom: 8px;
    min-height: 140px;

    > span {
      display: block;
    }

    &:nth-child(1) {
      color: var(--bs-primary);
      background-color: #d8ede3;
    }

    &:nth-child(2) {
      background-color: #60a47c;
    }

    &:nth-child(3) {
      background-color: #3e7152;
    }
  }
}

.definition {
  > div {
    padding: 16px 8px 0 16px;
    margin-bottom: 8px;

    @media (min-width: 992px) {
      min-height: 140px;
    }
  }
}
