{% extends "layouts/base.html" %}

{% block title %}Documentations{{ block.super }}{% endblock %}
{% block meta_description %}Des ressources exclusives pour les professionnels de l'inclusion. Retrouver les ressources nécessaires pour améliorer ses diagnostics socio-professionnels et ses accompagnements des personnes éloignées de l’emploi.{% endblock meta_description %}"

{% block content %}

    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1>Documentations</h1>
                    <h2 class="mt-3">Retrouver les ressources nécessaires pour améliorer ses diagnostics socio-professionnels et ses accompagnements des personnes éloignées de l’emploi</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                {% for forum in forums %}
                    <div class="col-12 col-md-4 mb-3 mb-md-5">
                        <div class="card c-card has-links-inside h-100">
                            {% if forum.image %}
                                <div class="card-header">
                                    <img src="{{ forum.image.url }}" class="img-fluid img-fitcover" alt="">
                                </div>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="h3 lh-base"><i class="ri-newspaper-line font-weight-normal"></i> {{ forum.name }}</p>
                                {% if forum.short_description %}
                                    <div>
                                        {{ forum.short_description }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-footer text-right">
                                <a href="{% url 'forum_extension:forum' forum.slug forum.id %}"
                                   class="btn btn-ico btn-link stretched-link matomo-event"
                                   data-matomo-category="engagement"
                                   data-matomo-action="show"
                                   data-matomo-option="fichestechniques">
                                    <span>Consulter les fiches du thème</span>
                                    <i class="ri-arrow-right-up-line ri-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}
