{% load i18n %}
{% load mptt_tags %}
{% load forum_conversation_tags %}
{% load forum_member_tags %}
{% load forum_tracking_tags %}
{% load str_filters %}
{% load date_filters %}
{% if forum_contents.nodes %}
    {% if root_level == 0 %}
        {% for node in forum_contents.top_nodes %}
            <div class="c-card card mb-3">
                <div class="card-header d-flex position-relative">
                    {% if node.obj.image %}
                        <div class="d-none d-md-flex-inline forum-image pe-2">
                            <img src="{{ node.obj.image.url }}" alt="{{ node.obj.name }}" class="img-fluid" />
                        </div>
                    {% endif %}
                    <div class="flex-grow-1">
                        <h3 class="h3 mb-0">
                            <a href="{% url 'forum_extension:forum' node.obj.slug node.obj.id %}" class="matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forum">{{ node.obj.name }}</a>
                        </h3>
                        <p class="mb-2">{% include "forum/partials/topics_and_members_counts.html" %}</p>
                    </div>
                </div>
                <div class="card-body pt-0">
                    {% if node.obj.description.rendered %}{{ node.obj.description.rendered|urlizetrunc_target_blank:30 }}{% endif %}
                    {% if node.children %}
                        <a data-bs-toggle="collapse" href="#collapse{{ node.obj.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ node.obj.id }}" class="btn btn-link pt-0 ps-0">
                            {% if node.obj.is_forum %}
                                Voir les sous-communautés
                            {% else %}
                                Afficher plus
                            {% endif %}
                        </a>
                        <div class="collapse" id="collapse{{ node.obj.id }}">
                            <ul class="list-group">
                                {% for child in node.children %}
                                    <li class="list-group-item list-group-item-action d-flex flex-column flex-md-row justify-content-md-between">
                                        <div class="flex-grow-1">
                                            <a href="{% url 'forum_extension:forum' child.obj.slug child.obj.id %}" class="h5 d-block mb-0 matomo-event" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forum">{{ child.obj.name }}</a>
                                            <small class="text-muted">{% include "forum/partials/topics_and_members_counts.html" with node=child %}</small>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% elif forum_contents.top_nodes.0.obj.is_in_documentation_area %}
        <div class="row mt-4">
            {% for node in forum_contents.top_nodes %}
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <div class="card c-card has-one-link-inside h-100">
                        {% if node.obj.image %}
                            <div class="card-header card-header-thumbnail rounded">
                                <img src="{{ node.obj.image.url }}" alt="{{ node.obj.name }}" class="img-fitcover img-fluid" loading="lazy" />
                            </div>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="h3 lh-base">{{ node.obj.name }}</p>
                            {% if node.obj.short_description %}<div class="mt-3">{{ node.obj.short_description }}</div>{% endif %}
                        </div>
                        <div class="card-footer text-end">
                            <a href="{% url 'forum_extension:forum' node.obj.slug node.obj.id %}"
                               class="btn btn-sm btn-ico btn-link stretched-link matomo-event"
                               data-matomo-category="engagement"
                               data-matomo-action="view"
                               data-matomo-option="fiches_techniques">
                                <i class="ri-arrow-right-line ri-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <ul class="list-group mb-3 mb-md-5">
            {% for node in forum_contents.top_nodes %}
                <li class="list-group-item list-group-item-action d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="flex-grow-1">
                        <a href="{% url 'forum_extension:forum' node.obj.slug node.obj.id %}" class="matomo-event h4 d-block mb-0" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forum">{{ node.obj.name }}</a>
                        <small class="text-muted">
                            {% if node.obj.kind == 'PRIVATE_FORUM' %}
                                <i class="ri-lock-2-fill"></i> {{ node.obj.members_group.user_set.count }} membres -
                            {% endif %}
                            {% if node.topics_count > 1 %}
                                {{ node.topics_count }} {% trans "Topics" %}
                            {% else %}
                                {{ node.topics_count }} {% trans "Topic" %}
                            {% endif %}
                            -
                            {% if node.posts_count > 1 %}
                                {{ node.posts_count }} {% trans "Posts" %}
                            {% else %}
                                {{ node.posts_count }} {% trans "Post" %}
                            {% endif %}
                        </small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
