{% extends 'board_base.html' %}
{% load i18n %}
{% load mptt_tags %}
{% load forum_tags %}
{% load forum_conversation_tags %}
{% load forum_permission_tags %}
{% load forum_tracking_tags %}
{% load str_filters %}

{% block sub_title %}{{ forum.name }}{% endblock sub_title %}
{% block meta_description %}{{forum.description}}{% endblock meta_description %}"

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-1">{{ forum.name }}</h1>
            {% if forum.description %}
                <p class="lead">{{forum.description|urlizetrunc_target_blank:30}}</small>
            {% endif %}
        </div>
    </div>
    {% if sub_forums %}
        {% forum_list sub_forums %}
    {% endif %}
    {% if forum.is_forum %}
        <div class="row justify-content-between mt-4">
            {% get_permission 'can_add_topic' forum request.user as user_can_add_topic %}
            {% get_permission 'can_approve_posts' forum request.user as user_can_access_stats %}
            {% if user_can_add_topic or user_can_access_stats %}
                <div class="col-12 col-sm-auto forum-actions-block">
                    {% if user_can_add_topic %}
                        <a href="{% url 'forum_conversation:topic_create' forum.slug forum.pk %}"
                            class="btn btn-primary btn-ico matomo-event"
                            data-matomo-category="engagement"
                            data-matomo-action="contribute"
                            data-matomo-option="new_topic">
                            <i class="ri-chat-new-line ri-lg"></i>
                            <span>{% trans "New topic" %}</span>
                        </a>
                    {% endif %}
                    {% if user_can_access_stats %}
                        <button id="id_dropdown_moderators_stats_button" class="btn btn-ico-only btn-outline-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-bar-chart-line ri-lg" aria-label="Statistiques animateurs"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="id_dropdown_moderators_stats_button">
                            <a href="{% url 'forum_extension:engagement' forum.slug forum.pk %}" class="dropdown-item">{% trans "Engagement" %}</a>
                            {% if forum.members_group %}
                                <a href="{% url 'members:forum_profiles' forum.slug forum.pk %}"
                                    class="dropdown-item matomo-event"
                                    data-matomo-category="engagement"
                                    data-matomo-action="view"
                                    data-matomo-option="directory">
                                    {% trans "Members" %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="s-tabs-01">
            <div class="s-tabs-01__container ">
                <div class="s-tabs-01__row row">
                    <div class="s-tabs-01__col col-12">
                        <ul class="s-tabs-01__nav nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="topics-tab"
                                    data-toggle="tab"
                                    href="#topics"
                                    role="tab"
                                    aria-controls="topics"
                                    aria-selected="true">
                                    Sujets
                                </a>
                            </li>
                            {% if announces %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="announces-tab"
                                        data-toggle="tab"
                                        href="#announces"
                                        role="tab"
                                        aria-controls="announces"
                                        aria-selected="false">
                                        Annonces
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item-dropdown dropdown">
                                <!-- for responsive needs -->
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="sTabs01DropdownMoreLink" data-toggle="dropdown" aria-expanded="false"><i class="ri-more-line" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sTabs01DropdownMoreLink"></div>
                            </li>
                        </ul>
                        <div class="tab-content topiclist">
                            <div class="tab-pane fade show active" id="topics"
                                role="tabpanel"
                                aria-labelledby="topics-tab">
                                {% with unread_topics=unread_topics  %}
                                    {% include "forum_conversation/topic_list.html" %} <!-- note vincentporte : to be optimized -->
                                {% endwith %}
                            </div>
                            {% if announces %}
                                <div class="tab-pane fade" id="announces"
                                    role="tabpanel"
                                    aria-labelledby="announces-tab">
                                    {% with topics=announces hide_if_empty=True unread_topics=unread_topics loadmoretopic_url=None %}
                                        {% include "forum_conversation/topic_list.html" %} <!-- note vincentporte : to be optimized -->
                                    {% endwith %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
