{% extends "forum/forum_detail.html" %}
{% block subforum_list %}
    {% include "forum/partials/subcategory_forum_list.html" with forum=forum sub_forums=sub_forums tags_of_descendants=tags_of_descendants active_forum_tag_slug=active_forum_tag_slug only %}
{% endblock subforum_list %}
{% block forum_foot_content %}
    {% if user.is_staff %}
        <section class="s-section" id="add-documentation-to-category-control">
            <div class="s-section__container container">
                <div class="s-section__row row">
                    <div class="s-section__col col-12">
                        <a href="{% url 'forum_extension:create_subcategory' forum.pk %}" aria-label="Ajouter une fiche pratique" role="button" class="btn btn-outline-primary">Ajouter une fiche pratique</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
