{% extends 'board_base.html' %}
{% load i18n %}
{% load mptt_tags %}
{% load forum_tags %}
{% load forum_conversation_tags %}
{% load forum_permission_tags %}
{% load forum_tracking_tags %}
{% load str_filters %}

{% block sub_title %}{{ forum.name }}{% endblock sub_title %}
{% block meta_description %}{{forum.description}}{% endblock meta_description %}"

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-1">{{ forum.name }}</h1>
            {%if forum.description %}
                <p class="lead">{{forum.description|urlizetrunc_target_blank:30}}</small>
            {%endif%}
        </div>
    </div>
    {% if sub_forums %}
        {% forum_list sub_forums %}
    {% endif %}
    {% if forum.is_forum %}
        <div class="mt-4 row justify-content-between">
            {% get_permission 'can_add_topic' forum request.user as user_can_add_topic %}
            {% get_permission 'can_approve_posts' forum request.user as user_can_access_stats %}
            {% if user_can_add_topic or user_can_access_stats %}
                <div class="col-12 col-sm-auto forum-actions-block">
                    {% if user_can_add_topic %}
                        <a href="{% url 'forum_conversation:topic_create' forum.slug forum.pk %}" class="btn btn-primary btn-ico">
                            <i class="ri-chat-new-line ri-lg"></i>
                            <span>{% trans "New topic" %}</span>
                        </a>
                    {%endif%}
                    {% if user_can_access_stats %}
                        <button id="id_dropdown_moderators_stats_button" class="btn btn-outline-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-bar-chart-line ri-lg" aria-label="Statistiques animateurs"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="id_dropdown_moderators_stats_button">
                            <a href="{% url 'forum_extension:engagement' forum.slug forum.pk %}" class="dropdown-item">{% trans "Topics Engagement" %}</a>
                            <a href="{% url 'members:forum_profiles' forum.slug forum.pk %}" class="dropdown-item">{% trans "Members" %}</a>
                            {% if request.user.is_staff %}
                                <a href="{% url 'forum_extension:funnel' forum.slug forum.pk %}" class="dropdown-item">{% trans "Funnel" %}</a>
                            {% endif %}
                        </div>
                    {%endif%}
                </div>
            {% endif %}
        </div>
        {% trans "Announcements" as announcements_title_trans %}
        {% with topic_list_title=announcements_title_trans topics=announces hide_if_empty=True unread_topics=unread_topics %}
            {% include "forum_conversation/topic_list.html" %} <!-- note vincentporte : to be optimized -->
        {% endwith %}
        {% trans "Topics" as topics_title_trans %}
        {% with topic_list_title=topics_title_trans unread_topics=unread_topics%}
            {% include "forum_conversation/topic_list.html" %} <!-- note vincentporte : to be optimized -->
        {% endwith %}
        <div class="mt-5 mb-5 row">
            <div class="col-12">
                {% with "justify-content-center" as pagination_size %}
                    {% include "partials/pagination.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}



{% endblock content %}
