{% load i18n %}
{% load mptt_tags %}

{% load forum_conversation_tags %}
{% load forum_member_tags %}
{% load forum_tracking_tags %}
{% load str_filters %}
{% load date_filters %}

{% if forum_contents.nodes %}
    {% if root_level == 0 %}
        {% for node in forum_contents.top_nodes %}
            <div class="c-card card mb-3">
                <div class="card-header d-flex position-relative">
                    {% if node.obj.image %}
                        <div class="d-none d-md-flex-inline forum-image pr-2">
                            <img src="{{ node.obj.image.url }}" alt="{{ node.obj.name }}" class="img-fluid" />
                        </div>
                    {% endif %}
                    <div class="flex-grow-1">
                        <h3 class="h3 mb-0">
                            <a href="{% url 'forum_extension:forum' node.obj.slug node.obj.id %}"
                                class="stretched-link matomo-event"
                                data-matomo-category="engagement"
                                data-matomo-action="view"
                                data-matomo-option="forum">
                                {{ node.obj.name }}
                            </a>
                        </h3>
                        <p class="small text-muted">
                            {% if node.obj.is_private%}
                                <i class="ri-lock-2-fill"></i> {{node.obj.members_group.user_set.count}} membres -
                            {%endif%}
                            {{node.topics_count}} {% trans "Topics" %} - {{node.posts_count}} {% trans "Posts" %}
                        </p>
                    </div>
                    {% if node.obj in unread_forums %}
                        <div>
                            <span class="badge badge-pill badge-sm badge-info">
                                Nouveaux messages
                            </span>
                        </div>
                    {%endif%}
                </div>
                <div class="card-body">
                    {%if node.obj.description.rendered%}
                        {{ node.obj.description.rendered|urlizetrunc_target_blank:30 }}
                    {%endif%}
                    {% if node.children %}
                        <a data-toggle="collapse" href="#collapse{{node.obj.id}}" role="button" aria-expanded="false" aria-controls="collapse{{node.obj.id}}" class="btn btn-link pl-0">Voir les sous-communautés</a>
                        <div class="collapse" id="collapse{{node.obj.id}}">
                            <ul class="list-group my-3">
                                {% for child in node.children  %}
                                    <li class="list-group-item list-group-item-action">
                                        <h4 class="h5 mb-0">
                                            <a href="{% url 'forum_extension:forum' child.obj.slug child.obj.id %}"
                                                class="stretched-link matomo-event"
                                                data-matomo-category="engagement"
                                                data-matomo-action="view"
                                                data-matomo-option="forum">
                                                {{ child.obj.name }}
                                            </a>
                                        </h4>
                                        <small class="text-muted">
                                            {% if node.obj.is_private%}
                                                <i class="ri-lock-2-fill"></i> {{node.obj.members_group.user_set.count}} membres -
                                            {%endif%}
                                            {{child.topics_count}} {% trans "Topics" %} - {{child.posts_count}} {% trans "Posts" %}
                                        </small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <ul class="list-group mb-3 mb-md-5">
            {% for node in forum_contents.top_nodes %}
                <li class="list-group-item list-group-item-action">
                    <h2 class="h4 mb-0">
                        <a href="{% url 'forum_extension:forum' node.obj.slug node.obj.id %}"
                            class="stretched-link matomo-event"
                            data-matomo-category="engagement"
                            data-matomo-action="view"
                            data-matomo-option="forum">
                            {{ node.obj.name }}
                        </a>
                    </h2>
                    <small class="text-muted">
                        {% if node.obj.is_private%}
                            <i class="ri-lock-2-fill"></i> {{node.obj.members_group.user_set.count}} membres -
                        {%endif%}
                        {{node.topics_count}} {% trans "Topics" %} - {{node.posts_count}} {% trans "Posts" %}
                    </small>
                </li>
            {% endfor %}
        </ul>
    {%endif%}
{% endif %}
