{% extends "forum/forum_detail.html" %}
{% load i18n %}
{% load str_filters %}
{% block forum_head_content %}
    <div class="s-section__row row">
        <div class="col-12 col-lg-9">
            <div class="row align-items-sm-center mb-3">
                <div class="col-12 col-sm">
                    <span class="badge badge-xs rounded-pill bg-communaute text-white text-decoration-none">
                        <i class="ri-checkbox-circle-fill"></i>
                        Certifié par la Plateforme de l'Inclusion le {{ forum.updated|date:"d/m/Y" }}
                    </span>
                </div>
                <div class="col-12 col-sm-auto">
                    {% include "partials/upvotes.html" with obj=forum kind="forum" %}
                    {% include "partials/social_share_buttons.html" with text=forum.name instance=forum id=forum.pk %}
                </div>
                {% if forum.image %}
                    <div class="col-12 col-sm-auto">
                        <div class="d-none d-md-block forum-image mt-3" loading="lazy">
                            <img src="{{ forum.image.url }}" alt="{{ forum.name }}" class="rounded img-fluid" />
                        </div>
                    </div>
                {% endif %}
                <div class="col-12 col-sm-auto mt-3">
                    <div class="textarea_cms_md">{{ forum.description.rendered|urlizetrunc_target_blank:30 }}</div>
                </div>
                {% comment %} Proposition A Testing {% endcomment %}
                {% include "forum/partials/rating.html" with forum=forum rating_area_id="1" %}
                {% comment %} Proposition A Testing {% endcomment %}
            </div>
        </div>
        <div class="col-12 col-lg-3">
            {% if user_can_add_topic %}
                <a href="{% url 'forum_conversation:topic_create' forum.slug forum.pk %}"
                   rel="nofollow"
                   class="btn btn-primary btn-block btn-ico matomo-event"
                   data-matomo-category="engagement"
                   data-matomo-action="contribute"
                   data-matomo-option="new_topic_on_docs">
                    <i class="ri-chat-new-line ri-lg"></i>
                    <span>{% trans "New topic on doc" %}</span>
                </a>
            {% endif %}
            {% comment %} Proposition B Testing {% endcomment %}
            {% include "forum/partials/rating.html" with forum=forum onSidebar=True rating_area_id="2" hidden=True %}
            {% comment %} Proposition B Testing {% endcomment %}
            <hr>
            <a href="{% url 'forum_extension:forum' forum.parent.slug forum.parent.id %}"
               class="matomo-event h3 text-decoration-none d-inline-block"
               data-matomo-category="engagement"
               data-matomo-action="view"
               data-matomo-option="forum">Les autres fiches du thème {{ forum.parent.name }}</a>
            <ul class="nav nav-tabs flex-column">
                {% for sibling_forum in sibling_forums %}
                    <li class="nav-item">
                        <a href="{% url 'forum_extension:forum' sibling_forum.slug sibling_forum.id %}" class="nav-link{% if forum.id == sibling_forum.id %} active{% endif %}">{{ sibling_forum.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% comment %} Proposition C Testing {% endcomment %}
            {% include "forum/partials/rating.html" with forum=forum onSidebar=True rating_area_id="3" hidden=True %}
            {% comment %} Proposition C Testing {% endcomment %}
        </div>
    </div>
    <div class="s-section__row row">
        <div class="col-12 col-lg-9">
            <iframe data-tally-src="https://tally.so/embed/3yyXlx?hideTitle=1&dynamicHeight=1&alignLeft=1"
                    loading="lazy"
                    width="100%"
                    height="100"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0"
                    title="Cette fiche vous a-t-elle été utile ?"></iframe>
        </div>
    </div>
{% endblock forum_head_content %}
