{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_title %}New Public Forum{% endblock sub_title %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>Ajouter une nouvelle communauté publique</strong></h1>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-7">
                    <div class="c-form">
                        <form method="post" action="." class="form" enctype="multipart/form-data" novalidate>{% csrf_token %}
                            {% for error in post_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <i class="icon-exclamation-sign"></i> {{ error }}
                                </div>
                            {% endfor %}
                            {% include "partials/form_field.html" with field=form.name %}
                            {% include "partials/form_field.html" with field=form.description %}
                            <div class="form-actions mb-3">
                                <input type="submit" class="btn btn-primary" value="submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
