{% load i18n %}
{% load mptt_tags %}
{% load forum_tags %}
{% load forum_conversation_tags %}
{% load forum_member_tags %}
{% load forum_tracking_tags %}
{% load str_filters %}
{% load date_filters %}

<div class="row mb-3 mb-md-5">
    <div class="col-12">
        {% if forum_contents.nodes %}
            {% recurseforumcontents forum_contents %}
                {% if node.level == root_level or node.level == root_level_middle%}
                    {%if node.level == root_level_middle and not node.previous_sibling %}
                        <a data-toggle="collapse" href="#collapse{{node.parent.obj.id}}" role="button" aria-expanded="false" aria-controls="collapse{{node.parent.obj.id}}" class="matomo-event" data-matomo-category="engagement" data-matomo-action="showmore" data-matomo-option="subforum">
                            {% if node.parent.children|length > 1 %}
                                {% blocktrans trimmed with count=node.parent.children|length %}
                                    Show me the {{ count }} subforums
                                {% endblocktrans %}
                            {%else%}
                                {% trans "Show me the subforum" %}
                            {%endif%}
                            <i class="ri-arrow-down-s-line"></i>
                        </a>
                    {%endif%}

                    {%if node.level == root_level_middle%}
                        <div class="collapse" id="collapse{{node.parent.obj.id}}">
                    {%endif%}

                    <div class="card my-3{%if node.level == root_level_middle%} bg-light{%endif%}">
                        <div class="card-body">
                            {% if node.obj in unread_forums %}
                                <p class="float-right"><span class="badge badge-pill badge-info">Nouveaux messages</span></p>
                            {%endif%}

                            <table>
                                <tr>
                                    {% if node.obj.image %}
                                        <td>
                                            <div class="d-none d-md-block forum-image pr-2">
                                                <img src="{{ node.obj.image.url }}" alt="{{ node.obj.name }}" />
                                            </div>
                                        </td>
                                    {% endif %}
                                    <td>

                                        <a href="{% url 'forum_extension:forum' node.obj.slug node.obj.id %}" class="matomo-event h3" data-matomo-category="engagement" data-matomo-action="view" data-matomo-option="forum">
                                            {{ node.obj.name }}
                                        </a>
                                        </br>
                                        <small class="text-muted">
                                            {% if node.obj.is_private%}
                                                Privé - {{node.obj.members_group.user_set.count}} membres -
                                            {%endif%}
                                            {%if node.obj.last_post_on%}
                                                Dernière publication : {{node.obj.last_post_on|relativetimesince_fr}}
                                            {%endif%}
                                        </small>


                                    </td>
                                </tr>
                            </table>


                            {%if node.obj.description.rendered%}
                                <p class="card-text">
                                    {{ node.obj.description.rendered|urlizetrunc_target_blank:30 }}</p>
                            {%endif%}

                            {{ children }}

                        </div>
                    </div>

                    {%if node.level == root_level_middle%}
                        </div>
                    {%endif%}

                {%endif%}
            {% endrecurseforumcontents %}
        {%endif%}

    </div>
</div>
