{% extends "layouts/base.html" %}
{% load i18n %}

{% load forum_permission_tags %}

{% block sub_title %}{{ forum.name }}{% endblock sub_title %}

{% block breadcrumb %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">{% trans "Forum" %}</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'forum:forum' forum.slug forum.id %}">{{ forum.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Funnel" %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{{ forum.name }}: {% trans "Funnel" %}</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <ul>
                        <li>
                            Utilisateurs cible : <strong>{{object.target_audience}}</strong>
                        </li>
                        <li>
                            Utilisateurs engagés : <strong>{{object.count_engaged_users.all_users}}</strong>
                            <ul>
                                <li>
                                    Utilisateurs authentifiés : <strong>{{object.count_engaged_users.authenticated_users}}</strong>
                                    <ul>
                                        <li>
                                            ayant posté : <strong>{{object.count_engaged_users.posters}}</strong>
                                        </li>
                                        <li>
                                            ayant aimé des sujets : <strong>{{object.count_engaged_users.likers}}</strong>
                                        </li>
                                        <li>
                                            ayant participé à des sondages : <strong>{{object.count_engaged_users.voters}}</strong>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Utilisateurs ayant posté anonymement : <strong>{{object.count_engaged_users.anonymous_posters}}</strong>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{%endblock%}
