{% extends "layouts/base.html" %}
{% load i18n %}

{% load forum_permission_tags %}

{% block sub_title %}{{ forum.name }}{% endblock sub_title %}

{% block breadcrumb %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">{% trans "Forum" %}</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'forum:forum' forum.slug forum.id %}">{{ forum.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Funnel</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{{ forum.name }}: Funnel</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    Audience cible: {{object.target_audience}}
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    Utilisateurs engagés : {{object.count_engaged_users.all_users}}
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12 ml-4">
                    Utilisateurs authentifiés : {{object.count_engaged_users.authenticated_users}}
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12 ml-6">
                    Posters : {{object.count_engaged_users.posters}}
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12 ml-6">
                    Likers : {{object.count_engaged_users.likers}}
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12 ml-6">
                    Voters : {{object.count_engaged_users.voters}}
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12 ml-4">
                    Posters anonymes : {{object.count_engaged_users.anonymous_posters}}
                </div>
            </div>
        </div>
    </section>
{%endblock%}
