{% extends 'board_base.html' %}
{% load i18n %}
{% load mptt_tags %}
{% load forum_tags %}

{% block sub_title %}Les {% trans "Forums"|lower %} {% endblock sub_title %}
{% block meta_description %}Vous souhaitez sonder la communauté, créer votre groupe de travail ou animer un sujet de discussion, notre équipe est à votre écoute !{% endblock meta_description %}"


{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Les {% trans "Forums"|lower %}</h1>
        </div>
    </div>

    {% forum_list forums %}

    <hr class="mt-5">
    <div class="my-4 row">
        <div class="forum-page-statistics col-12">
            <h4 class="h3 page-header">{% trans "Statistics" %}</h4>
            <p class="statistics">{% trans "Total posts:" %}&nbsp;<b>{{ total_posts_count }}</b>&nbsp;&#8226;&nbsp;{% trans "Total topics:" %}&nbsp;<b>{{ total_topics_count }}</b>&nbsp;</p>
        </div>
    </div>
{% endblock content %}
