{% extends "layouts/base.html" %}
{% load i18n %}
{% load str_filters %}
{% load js_filters %}
{% load static %}
{% load forum_permission_tags %}

{% block sub_title %}{{ forum.name }}{% endblock sub_title %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{{ forum.name }}: {% trans "Engagement" %}</strong></h1>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="card c-card mb-3 mb-md-5">
                        <div class="card-body">
                            <div>
                                <canvas id="statChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    {% get_permission 'can_approve_posts' forum request.user as user_can_access_stats %}
                    {% if user_can_access_stats %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>{{ forum.name }}: {% trans "Engagement" %}</caption>
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">{% trans "Topics" %}</th>
                                        <th scope="col" class="text-center">{% trans "Likes" %}</th>
                                        <th scope="col" class="text-center">{% trans "Posts" %}</th>
                                        <th scope="col" class="text-center">{% trans "Attached" %}</th>
                                        <th scope="col" class="text-center">{% trans "Votes" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for topic in topics%}
                                        <tr>
                                            <th scope="row">
                                                <a href="{{topic.get_absolute_url}}">{{topic.subject}}</a>
                                                <br />
                                                <small>{{ topic.created }}</small>
                                            </th>
                                            <td class="text-center">{{topic.likes}}</td>
                                            <td class="text-center">{{topic.messages }}</td>
                                            <td class="text-center">{{topic.attached }}</td>
                                            <td class="text-center">{{topic.votes }}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{%endblock%}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1"></script>
    <script>
        const ctx_stats = document.getElementById('statChart');
        new Chart(ctx_stats, {
            type: 'line',
            data: {
                labels: {{ stats.period|js }},
                datasets: [
                    {
                        label: 'Nombre de sujets',
                        data: {{ stats.topics|js }},
                    },
                    {
                        label: 'Nombre de messages',
                        data: {{ stats.posts|js }},
                    },
                    {
                        label: 'Nombre de participations aux sondages',
                        data: {{ stats.pollvotes|js }},
                    },
                    {
                        label: 'Nombre de votes',
                        data: {{ stats.upvotes|js }},
                    },
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}
