{% extends "layouts/base.html" %}
{% load i18n %}

{% load forum_permission_tags %}

{% block sub_title %}{{ forum.name }}{% endblock sub_title %}

{% block breadcrumb %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="Fil d'ariane">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">{% trans "Forum" %}</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'forum:forum' forum.slug forum.id %}">{{ forum.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Engagement</li>{% comment %} TODO: Dynamiser la valeur engagement {% endcomment %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{{ forum.name }}: Engagement</strong></h1>
                    <p class="lead">{{forum.description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    {% get_permission 'can_approve_posts' forum request.user as user_can_access_stats %}
                    {% if user_can_access_stats %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>{{ forum.name }}: Liste de statistiques</caption>
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">{% trans "Topics" %}</th>
                                        <th scope="col" class="text-center">{% trans "Views" %}</th>
                                        <th scope="col" class="text-center">{% trans "Likes" %}</th>
                                        <th scope="col" class="text-center">{% trans "Replies" %}</th>
                                        <th scope="col" class="text-center">{% trans "Attached" %}</th>
                                        <th scope="col" class="text-center">{% trans "Votes" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for topic in topics%}
                                        <tr>
                                            <th scope="row">
                                                <a href="{{topic.get_absolute_url}}">{{topic.subject}}</a>
                                                <br />
                                                <small>{{ topic.created }}</small>
                                            </th>
                                            <td class="text-center">{{topic.views}}</td>
                                            <td class="text-center">{{topic.likes}}</td>
                                            <td class="text-center">{{topic.replies|add:"-1" }}</td>{% comment %}only count replies{% endcomment %}
                                            <td class="text-center">{{topic.attached }}</td>
                                            <td class="text-center">{{topic.votes }}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{%endblock%}
