{% extends "layouts/base.html" %}
{% load i18n %}
{% load theme_inclusion %}
{% block title %}Diagnostic Parcours IAE{{ block.super }}{% endblock %}
{% block meta_description %}
    Diagnostic Parcours IAE
{% endblock meta_description %}
{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-lg-8 col-12">
                    <h1 class="s-title-01__title h1">Diagnostic Parcours IAE</h1>
                    <p>
                        L'aide au diagnostic pour le parcours IAE (aussi connu sous le nom de DSP) est en cours de déploiement. Nous l'ouvrons progressivement aux professionnels volontaires pour le tester et nous faire part des améliorations souhaitables.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            {% if not user.is_authenticated %}
                <div class="s-section__row row">
                    <div class="s-section__col col-lg-8 col-12">
                        <div class="c-box mb-5">
                            <div class="row">
                                <div class="col-lg col-12 mb-3">Je me connecte pour accéder à l'aide au diagnostic pour le parcours IAE</div>
                                <div class="col-lg-auto col-12">
                                    <a href="{% url 'inclusion_connect:authorize' %}?next={% url 'surveys:dsp_create' %}" rel="nofollow" class="btn btn-inclusion-connect">
                                        <img src="{% static_theme_images 'logo-inclusion-connect-two-lines.svg' %}" alt="Se connecter | S'inscrire" height="37">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="s-section__row row">
                <div class="s-section__col col-lg-8 col-12">
                    <div class="c-box mb-5">
                        {% if perms.surveys.add_dsp %}
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-12">
                                                <legend>{{ field.label_tag }}</legend>
                                                <div class="form-group form-group-required">{{ field }}</div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="row">
                                        <div class="col">
                                            <hr />
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="form-row justify-content-end">
                                        <div class="form-group col-12 col-lg-auto">
                                            <button type="submit" class="btn btn-block btn-primary matomo-event" data-matomo-category="engagement" data-matomo-action="dsp" data-matomo-option="submit-dsp">
                                                Valider
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <strong>Vous souhaitez faire partie du prochain groupe de testeurs ? Faites-vous connaître !</strong>
                            <iframe data-tally-src="https://tally.so/embed/w51b56?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                                    loading="lazy"
                                    width="100%"
                                    height="262"
                                    frameborder="0"
                                    marginheight="0"
                                    marginwidth="0"
                                    title="DSP waiting list"></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    {{ block.super }}
    <script async src="https://tally.so/widgets/embed.js"></script>
{% endblock extra_js %}
