{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load theme_inclusion %}
{% block title %}Diagnostic Parcours IAE{{ block.super }}{% endblock %}
{% block meta_description %}
    Diagnostic Parcours IAE
{% endblock meta_description %}
{% block content %}
    <section class="s-title-01 mt-lg-5">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-lg-8 col-12">
                    <h1 class="s-title-01__title h1">Diagnostic Parcours IAE</h1>
                    <p>
                        L'aide au diagnostic pour le parcours IAE (aussi connu sous le nom de <strong>Diagnostic Socio Professionnel</strong>) est en cours de déploiement. Nous l'ouvrons progressivement aux professionnels volontaires pour le tester et nous faire part des améliorations souhaitables.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section">
        <div class="s-section__container container">
            {% if user.is_authenticated %}
                <div class="s-section__row row">
                    <div class="s-section__col col-lg-8 col-12">
                        <div class="c-box mb-5">
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% for error in field.errors %}<span class="text-danger error">{{ error }}</span>{% endfor %}
                                    {% if not field.is_hidden %}
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-12">
                                                    <legend>{{ field.label_tag }}</legend>
                                                    <div class="form-group form-group-required">{{ field }}</div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="row">
                                            <div class="col">
                                                <hr />
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                                <div class="row">
                                    <div class="form-row ">
                                        <div class="form-group col-12 col-lg-auto">
                                            <button type="submit" class="btn btn-block btn-primary matomo-event" data-matomo-category="engagement" data-matomo-action="dsp" data-matomo-option="submit-dsp">
                                                Obtenir le diagnostic
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="s-section__row row">
                    <div class="s-section__col col-lg-8 col-12">
                        <div class="c-box mb-5">
                            <div class="row">
                                <div class="col-lg col-12 mb-3">Je me connecte pour accéder à l'aide au diagnostic pour le parcours IAE</div>
                                <div class="col-lg-auto col-12">
                                    <a href="{% url 'inclusion_connect:authorize' %}?next={% url 'surveys:dsp_create' %}" rel="nofollow" class="btn btn-inclusion-connect">
                                        <img src="{% static_theme_images 'logo-inclusion-connect-two-lines.svg' %}" alt="Se connecter | S'inscrire" height="37">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="s-section__row row">
                <div class="s-section__col col-lg-8 col-12">
                    <div class="c-box mb-5">
                        {% include "surveys/partials/related_forums.html" with related_forums=related_forums only %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/select2.min.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}">
        $(document).ready(function() {
            let cityCodeHiddenInput = $("#id_city_code");
            $('#id_location').on('select2:select', function(e) {
                let data = e.params.data;
                cityCodeHiddenInput.val(data.city_code);
            });
            $('#id_location').select2({
                theme: "bootstrap-5",
                ajax: {
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            q: params.term, // search term
                            type: 'municipality',
                            limit: 10
                        };
                    },
                    processResults: function(data) {
                        var results = data.features.map(function(item, index) {
                            var prop = item.properties;
                            return {
                                id: prop.label + ' (' + prop.postcode.substring(0, 2) + ')',
                                text: prop.label + ' (' + prop.context + ')',
                                city_code: prop.citycode,
                            };
                        });
                        return {
                            results,
                        };
                    },
                    cache: true,
                },
                placeholder: 'Recherchez la ville ou le code postal',
                minimumInputLength: 3,
                language: {
                    inputTooShort: function() {
                        return 'Entrez au moins 3 caractères';
                    },
                    errorLoading: function() {
                        return 'Les résultats ne peuvent pas être chargés';
                    },
                    searching: function() {
                        return 'Recherche en cours';
                    },
                    noResults: function() {
                        return 'Aucun résultat trouvé';
                    },
                },
            });
        });
    </script>
    <script async src="https://tally.so/widgets/embed.js"></script>
{% endblock extra_js %}
