{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}Diagnostic Socio Professionnel{{ block.super }}{% endblock %}
{% block meta_description %}
    Recommandations
{% endblock meta_description %}
{% block content %}
    {% if global_recommendations or grouped_recommendations %}
        <section class="s-title-01 mt-lg-5">
            <div class="s-title-01__container container">
                <div class="s-title-01__row row">
                    <div class="s-title-01__col col-12">
                        <h1 class="s-title-01__title h1">Les recommandations suite à votre diagnostic</h1>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="s-section">
        <div class="s-section__container container">
            {% if global_recommendations or grouped_recommendations %}
                <div class="s-section__row row">
                    <div class="s-section__col col-12 col-lg-8 c-box mb-5">
                        {% if global_recommendations %}
                            <div>
                                <h2>Général</h2>
                                <ul>
                                    {% for recommendation in global_recommendations %}<li>{{ recommendation.text }}</li>{% endfor %}
                                </ul>
                                <hr>
                            </div>
                        {% endif %}
                        {% for category, recommendations in grouped_recommendations %}
                            <div>
                                <h2 class="h3">{{ category }}</h2>
                                <ul>
                                    {% for recommendation in recommendations %}<li>{{ recommendation.text }}</li>{% endfor %}
                                </ul>
                                {% if not forloop.last %}<hr>{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-8">
                    <h2>Rappel de votre diagnostic</h2>
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-8">
                    {% for category, choice in dsp_fields.items %}
                        <p>
                            <strong>{{ category|capfirst }} :</strong>
                            {{ choice }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
